<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Herzlich Willkommen</title>

<!-- CSS Normilze Stylesheet -->
<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

<!-- CSS GRID Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/960.css"/>

<!-- CSS Master Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/style.css"/>

<!-- JQuery -->
<script type='text/javascript' src='http://code.jquery.com/jquery-1.8.2.min.js'>

<!-- Dimmer Funtion, Kirill -->
<script type="text/javascript" id="sourcecode">
$(document).ready(function(){
    $("#shadowbg").css("height", $(document).height()).hide();
	$(".clickshadow").click(function(){
		$("#shadowbg").toggle();
	});

	$(".prompt_box").not("#shadowbg").click(function(){
		stopPropagation();
		$("#shadowbg").toggle();
	});
});
</script>


<!-- Scripts von Charles -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.21/themes/base/jquery-ui.css" type="text/css" media="all"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
<script src="http://jquery-watermark.googlecode.com/svn/trunk/jquery-watermark/jquery.watermark/jquery.watermark.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
            function callback_my_args_example(data){
                alert(data.message);
                }   
            </script>
</head>

<body>
	

            <form action="/" method="post" style="margin-top:60px;">
                {% csrf_token %}
			    <ul class="loginregisternav">

				    <li><a class="einloggennav" href="#">
                    <input type="text" name="username" value="username"></input>
                    <input type="password" name="password" value="password"></input>
                    <input type="submit" value="{{loginlogout}}" name="loginlogour"></input>
                    </a></li>

			    </ul>
            </form>
	
	
	
		
		{{message}}
		
		<form action="/panel/" method="post">
			 {% csrf_token %} <label>
			<input type="text" id="address" name="address"></input>
			<script type="text/javascript">
			</script>
			<input type="submit"value=""/>
			</label>
		</form>


</body>
</html>
