/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* Clean */
form * {
  background: transparent;
  behavior: url(PIE.htc);
  /* for the older versions of IE MUSS NOCH EINGEFUEGT WERDEN*/

}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
.devborder {
  border-color: #ff8463;
  border-style: solid inset;
  border-width: 2px;
}
.helveticafont {
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.background_sidebar_shadow {
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
}
.solidborder {
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
}
.smallbox_a {
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
}
.smallbox_b_white_bg {
  background-color: #c7d0d3;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
}
* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  margin: 0px 0px 0px 280px;
  height: 100%;
}
.bodynomargin {
  margin: 0px;
}
#shadowbg {
  background-image: url(img/SHADOW_BG_1.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10000;
  zoom: 1;
}
#shadowbg .prompt_box {
  width: 400px;
  height: 460px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -230px 0 0 -200px;
  background-color: white;
  padding: 20px;
}
#shadowbg .prompt_box h2 {
  font-size: 21px;
  color: #333a39;
  margin-bottom: 20px;
  padding-top: 30px;
}
#shadowbg .prompt_box p {
  font-size: 15px;
  line-height: 23px;
  color: #637379;
  padding-top: 10px;
}
#shadowbg .prompt_box span {
  width: 200px;
  background-color: red;
}
#shadowbg .prompt_box input {
  width: 100px;
}
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  height: 100%;
  background-color: #f9f9f9;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
  z-index: 9999;
}
.sidebartop {
  background-color: #0093d5;
  width: 100%;
  font-size: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
}
.sidebartop a {
  text-decoration: none;
  color: #fff;
}
.sidebartop a:hover {
  text-decoration: none;
  color: red;
}
.projectchooser-in-sidebar {
  text-align: center;
  background-color: #f0f6f8;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
  padding-left: 20px;
  border-bottom: 1px solid #dde3e4;
}
.projectchooser-in-sidebar p {
  text-align: center;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #637379;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  width: 230px;
}
.projectchooser-in-sidebar p img {
  padding-left: 5px;
}
.projectchooser-in-sidebar p a,
.projectchooser-in-sidebar p a:visited {
  text-decoration: none;
  color: #637379;
}
.projectchooser-in-sidebar p a:hover {
  text-decoration: none;
  color: #0093d5;
}
.projectchooser-in-sidebar p img {
  border: 0;
}
#navigationleft {
  margin-top: 100px;
}
#navigationleft ul a,
#navigationleft ul a:visited {
  text-decoration: none;
}
#navigationleft ul li {
  padding-left: 50px;
  color: #141a1b;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 16px;
  line-height: 49px;
  border-bottom: solid 1px #dde3e4;
}
#navigationleft ul li .offertenrot {
  background-color: red;
  padding: 3px;
  font-size: 8px;
  color: #fff;
  margin-bottom: -10px;
}
#navigationleft ul .sidebar_uebersicht {
  background-image: url(img/sidebar_uebersicht_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_uebersicht:hover {
  background-image: url(img/sidebar_uebersicht_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul .sidebar_entwicklung {
  background-image: url(img/sidebar_projektentwicklung_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_entwicklung:hover {
  background-image: url(img/sidebar_projektentwicklung_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul .sidebar_bearbeiten {
  background-image: url(img/sidebar_edit_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_bearbeiten:hover {
  background-image: url(img/sidebar_edit_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul .sidebar_finden {
  background-image: url(img/sidebar_finden_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_finden:hover {
  background-image: url(img/sidebar_finden_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul .sidebar_vergleichen {
  background-image: url(img/sidebar_uebersicht_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_vergleichen:hover {
  background-image: url(img/sidebar_uebersicht_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul .sidebar_offerten {
  background-image: url(img/sidebar_offerten_icon.png);
  background-repeat: no-repeat;
  background-position: 20px 12px;
}
#navigationleft ul .sidebar_offerten:hover {
  background-image: url(img/sidebar_offerten_icon.png);
  background-repeat: no-repeat;
  background-position: 20px -28px;
}
#navigationleft ul li:hover {
  background-color: #637379;
  -moz-opacity: 0.6;
  -khtml-opacity: 0.6;
  -webkit-opacity: 0.6;
  opacity: 0.6;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
  color: #fff;
}
#content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 1000px;
}
#anzeigelinks {
  width: 50%;
  min-width: 500px;
  height: 100%;
  overflow-y: scroll;
}
#anzeigelinks h1 {
  margin-top: 20px;
  margin-bottom: 24px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: #333a39;
}
#anzeigelinks p {
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  line-height: 20px;
  font-size: 13px;
  color: #637379;
  margin-bottom: 20px;
}
#anzeigelinks .boxuebersicht_a {
  margin-top: 10px;
  background-color: #f0f6f8;
  height: 135px;
  margin-right: 7px;
}
#anzeigelinks .boxuebersicht_a p {
  float: left;
}
#anzeigelinks .boxuebersicht_a .pin {
  border-color: #ff8463;
  border-style: solid inset;
  border-width: 2px;
  margin-top: 52px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url(img/instfinden_pin.png);
  background-position: 8px 8px;
  background-repeat: no-repeat;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht {
  height: 135px;
  margin-left: 10px;
  float: left;
  min-width: 170px;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: grau5;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht ul {
  color: #637379;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht li {
  color: #637379;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 13px;
  line-height: 25px;
  list-style: none;
  padding-left: 20px;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht .erfolgreicheprojekte {
  background-image: url(img/instfinden_thumbsup.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
#anzeigelinks .boxuebersicht_a .linke_uebersicht .location {
  background-image: url(img/instfinden_location.png);
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
#anzeigelinks .boxuebersicht_a .rechte_uebersicht {
  float: left;
  min-width: 210px;
}
#anzeigelinks .boxuebersicht_a .rechte_uebersicht ul {
  margin-left: 10px;
  margin-top: 20px;
  font-size: 13px;
  line-height: 27px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
}
#anzeigelinks .boxuebersicht_a .rechte_uebersicht li {
  list-style: none;
  color: #a1adb2;
  width: 100%;
}
#anzeigelinks .boxuebersicht_a .rechte_uebersicht li span {
  float: right;
  color: #637379;
  font-weight: bold;
}
#anzeigelinks .boxuebersicht_a .more_info {
  border-color: #ff8463;
  border-style: solid inset;
  border-width: 2px;
  margin-top: 52px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url(img/instfinden_more.png);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  float: right;
}
#anzeigelinks .boxuebersicht_a .more_info:hover {
  background-color: #0093d5;
  background-image: url(img/instfinden_more_white.png);
  background-position: 11px 8px;
  background-repeat: no-repeat;
  border: #fff;
}
#anzeigelinks .boxuebersicht_a:hover {
  background-color: #e2f9fa;
}
.jspContainer {
  overflow: hidden;
  position: relative;
}
.jspPane {
  position: absolute;
}
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 10%;
  background: #0093d5;
}
.jspHorizontalBar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10%;
  height: 5px;
  background: #0093d5;
}
.jspVerticalBar *,
.jspHorizontalBar * {
  margin: 0;
  padding: 0;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.jspCap {
  display: none;
}
.jspHorizontalBar .jspCap {
  float: left;
}
.jspTrack {
  background: #ffffff;
  position: relative;
}
.jspDrag {
  background: #0093d5;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
}
.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 10%;
}
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
}
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}
.jspVerticalBar .jspArrow {
  height: 5px;
}
.jspHorizontalBar .jspArrow {
  width: 5px;
  float: left;
  height: 10%;
}
.jspVerticalBar .jspArrow:focus {
  outline: none;
}
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 10%;
}
/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}
#anbieterrechts {
  overflow-y: scroll;
  width: 50%;
  float: right;
  height: 100%;
  background-color: #f9f9f9;
  background-image: url("img/anbieter_leftshadow.png");
  background-position: left;
  background-repeat: repeat-y;
}
#anbieterrechts .background_anbieter_shadow_links {
  background-image: url("img/anbieter_leftshadow.png");
  background-position: left;
  background-repeat: repeat-y;
}
#anbieterrechts .blockoben {
  background-color: #f0f6f8;
  background-image: url("img/anbieter_leftshadow.png");
  background-position: left;
  background-repeat: repeat-y;
  padding: 10px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  border-bottom: 1px solid #dde3e4;
}
#anbieterrechts .blockoben .wrapperintheblock {
  max-width: 500px;
  margin: 0px auto;
}
#anbieterrechts .blockoben .wrapperintheblock h1 {
  margin-top: 7px;
  font-size: 21px;
  margin-bottom: 20px;
}
#anbieterrechts .blockoben .wrapperintheblock span {
  color: #a1adb2;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  font-size: 13px;
}
#anbieterrechts .blockoben .wrapperintheblock p {
  color: #333a39;
  border-color: #ff8463;
  border-style: solid inset;
  border-width: 2px;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 19px;
  font-weight: bold;
  padding: 7px;
  margin-top: 5px;
  text-align: center;
}
#anbieterrechts .blockoben .wrapperintheblock .zahlboxallgemein {
  width: 130px;
  display: block;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_infozahl_1 {
  width: 130px;
  display: block;
  float: left;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_infozahl_2 {
  width: 130px;
  display: block;
  float: left;
  margin-left: 50px;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_infozahl_3 {
  width: 130px;
  display: block;
  float: right;
}
#anbieterrechts .blockoben .wrapperintheblock ul {
  margin-top: 20px;
  margin-bottom: 20px;
  list-style: none;
  color: #637379;
  width: 200px;
  line-height: 27px;
  font-size: 14px;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_liste_links {
  float: left;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_liste_links li {
  background-image: url(img/right_check.png);
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 20px;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_liste_rechts {
  float: right;
}
#anbieterrechts .blockoben .wrapperintheblock .rechts_liste_rechts li {
  background-image: url(img/right_check.png);
  background-repeat: no-repeat;
  background-position: 0px 6px;
  padding-left: 20px;
}
#anbieterrechts .blockanbieter {
  max-width: 500px;
  margin: 0px auto;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
}
#anbieterrechts .blockanbieter .offertenbutton {
  float: right;
  display: block;
  border-color: #ff8463;
  border-style: solid inset;
  border-width: 2px;
  padding: 7px;
  padding-right: 30px;
  padding-left: 15px;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-image: url(img/arrow_right_white.png);
  background-position: 128px 10px;
  background-repeat: no-repeat;
  background-color: #0093d5;
  color: #fff;
  border-color: #fff;
}
#anbieterrechts .blockanbieter h1 {
  color: #333a39;
  font-size: 21px;
  margin-top: 20px;
  margin-bottom: 7px;
}
#anbieterrechts .blockanbieter h3 {
  color: #a1adb2;
  font-size: 15px;
  font-weight: none;
  margin-bottom: 20px;
}
#anbieterrechts .blockanbieter p {
  color: #333a39;
  font-size: 14px;
  line-height: 21px;
}
#anbieterrechts .blockanbieter ul {
  line-height: 27px;
  font-size: 14px;
  color: #a1adb2;
  list-style: none;
}
#anbieterrechts .blockanbieter ul li {
  background-image: url(img/bulltetpoint.png);
  background-repeat: no-repeat;
  background-position: 3px 11px;
  padding-left: 20px;
  list-style: none;
}
/*





										STARTSEITE








*/
.start_headertop {
  background-image: url(img/bg_gray_line.png);
  background-repeat: repeat-x;
  height: 100px;
}
.start_headertop h1 {
  font-size: 25px;
  line-height: 25px;
  font-style: italic;
  font-weight: bold;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  text-align: center;
  color: #141a1b;
  padding-top: 35px;
  background-image: url(img/bg_blue_line.png);
  background-repeat: repeat-x;
  float: left;
}
.start_headertop ul {
  font-size: 14px;
  line-height: 14px;
  color: #637379;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
}
.start_headertop a,
.start_headertop a:hover {
  text-decoration: none;
}
.start_headertop li {
  color: #637379;
  list-style: none;
  float: left;
  margin-left: 40px;
  padding-top: 38px;
}
.start_headertop .verschiebenlinks {
  margin-left: 100px;
}
.start_headertop li:hover {
  background-image: url(img/bg_blue_line.png);
  background-repeat: repeat-x;
  color: #333a39;
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.start_headertop .loginclass {
  padding-top: 33px;
}
.start_headertop .loginclass a {
  float: right;
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 5px;
  padding-right: 20px;
  padding-left: 10px;
  font-size: 13px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  color: #333a39;
  line-height: 14px;
  background-image: url(img/smallloginarrow_gray.png);
  background-repeat: no-repeat;
  background-position: 44px 9px;
}
.start_headertop .loginclass a:hover {
  color: #fff;
  background-color: #0093d5;
  border-color: #0093d5;
  background-image: url(img/smallloginarrow_white.png);
  -moz-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.start_headertwo {
  background: #f5f5f5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f0f6f8), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f0f6f8, #ffffff);
  background: -moz-linear-gradient(center bottom, #f0f6f8 0%, #ffffff 100%);
  height: 450px;
}
.start_headertwo h1 {
  color: #333a39;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
}
.start_headertwo p {
  font-size: 15px;
  line-height: 23px;
  color: #637379;
  padding-top: 10px;
}
.start_headertwo .container_12 {
  padding-top: 170px;
}
.start_headertwo .wohnadresse {
  width: 440px;
  background-color: #f0f6f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  color: #637379;
  margin-bottom: 10px;
  border-color: #333a39;
}
.start_headertwo .postleihzahl {
  width: 440px;
  background-color: #f0f6f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 10px;
  color: #637379;
  margin-bottom: 10px;
  border-color: #333a39;
  width: 280px;
}
.start_headertwo .solarpotentialbutton {
  width: 440px;
  background-color: #f0f6f8;
  padding: 10px;
  color: #637379;
  margin-bottom: 10px;
  border-color: #333a39;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  width: 150px;
  margin-left: 10px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
  background: #0093d5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0273a2), color-stop(1, #0093d5));
  background: -ms-linear-gradient(bottom, #0273a2, #0093d5);
  background: -moz-linear-gradient(center bottom, #0273a2 0%, #0093d5 100%);
  font-size: 12px;
}
.startfooter {
  margin-top: 200px;
}
.startfooter .grid_3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.startfooter h2 {
  color: #333a39;
  font-size: 16px;
  line-height: 16px;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  margin-bottom: 20px;
}
.startfooter ul {
  list-style: none;
}
.startfooter li {
  list-style: none;
  font-family: Arial, "Helvetica Neue", "Liberation Sans", FreeSans, sans-serif;
  color: #637379;
  font-size: 13px;
  line-height: 23px;
}
.startfooter .hilfegrid {
  background-color: #f0f6f8;
  padding: 10px;
}
