html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	
	background: url("bg_big.png") repeat-y center;
	background-color: #f9f9f9;
}

/* -------------- TOP HEADER BLUE NAVIGATION -------------- */

#headernavtop {
	height: 70px;
	background: url("headerbg1.png") repeat-x;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-left: 100px;
	padding-right: 100px;
}

#headernavtop ul {
	float:right;
	padding-top: 0px;
	margin-top: 0px;
}

#headernavtop ul a, #headernavtop ul a:hover,  #headernavtop li.active {
	color: black;
	text-decoration: none;
}

#headernavtop li {
	float:right;
	padding: 0px;
	padding: 25px 10px 0px 10px;
	margin: 0px;
	list-style-type: none;
	height: 45px;			/* 70px - padding-top */

	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #82a4c7;

}

#headernavtop li:hover, #headernavtop li.active {
	color: white;
	background: url("headerbg3.png") repeat-x;
}

#headernavtop img.loginbutton {
	float: right;
	padding: 19px 10px 0px 20px;
}

#headernavtop img.logo {
	padding:23px 0px 0px 20px;
}

/* -------------- SECOND NAVIGATION WHITE -------------- */

#headerpagenav {
	background: url("headerbgWHITEshadow.png") repeat-x;
	background-color: white;
	height:60px;
	padding: 0px 100px;
}

#headerpagenav img.forward {
	float:right;
	
}

#headerpagenav img.back {
	
	float:left;
}

#headerpagenav span {
	
	line-height: 27px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 14px;
	color: #bcc3c9;
}

#headerpagenav span a, #headerpagenav span a:hover {
	text-decoration: none;
	color: #bcc3c9;
	padding-left: 15px;
	padding-right: 15px;
}

#headerpagenav span a:hover, #headerpagenav span a.active {
	text-decoration: none;
	color: black;
}

/* -------------- BIG OVERVIEW -------------- */

#overviewbg {
	padding: 0px 100px;
	background: url("overviewbg.png") repeat-x #eceef1;
}

#overviewbg h3 {
	text-align: center;
	color: #9ba0a5;
	font-size: 14px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 40px 0px 0px 0px ;
}

#overviewbg h2 {
	text-align: center;
	color: black;
	font-size: 22px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 5px 0px 40px 0px ;
}

#overviewbg div.informationbox {
	padding-top: 106px;
}

#overviewbg div.informationbox p {
	text-align: left;
	font-family: Arial, "Helvetica", Sans-serif;
	border-bottom: solid 1px #bec8d7; 
	width: 800px;
	color: #798092;
	font-size: 13px;
	padding-bottom: 5px;
}

#overviewbg div.bigboxblue, #overviewbg div.bigboxwhite:hover {


	cursor:pointer;

	text-align: center;

	margin: 0px 0px 20px 0px;

	background-color: white;
	border: solid 1px #3c9fd7;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #7393c2;
	-webkit-box-shadow: 0px 0px 5px #7393c2;
	box-shadow: 0px 0px 5px #7393c2;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}
#overviewbg  p.info {
	color: #464f5c;
	font-size: 12px;
	font-family: Arial, "Helvetica", Sans-serif;
	line-height: 19px;
	padding: 0px 10px 0px 10px;
	margin-bottom: 20px;
}

#overviewbg  p.lines {
	border-bottom: solid 1px #b6c2d4;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 13px;
	color: #878e98;

	padding-bottom: 5px;
	
}

#overviewbg  p.lines span {
	color: black;
}

#overviewbg h5 {
	color: black;
	font-size: 16px;
	font-family: Arial, "Helvetica", Sans-serif;	
	margin: 20px 0px;
	padding:0px;
}


.showdetailsbutton {
  font-family: arial;
  font-weight: bold;
  color: #FFFFFF !important;
  font-size: 13px;
  text-shadow: 0px 1px 1px #070919;
  width: 200px;
  padding: 8px 15px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #63B8EE;
  background: linear-gradient(top,  #5AC1F7,  #247CC4);
  background: -ms-linear-gradient(top,  #5AC1F7,  #247CC4);
  background: -webkit-gradient(linear, left top, left bottom, from(#5AC1F7), to(#247CC4));
  background: -moz-linear-gradient(top,  #5AC1F7,  #247CC4);
}
.showdetailsbutton:hover {
  color: #252729 !important;
  background: #468CCF;
  background: linear-gradient(top,  #E9E9E9,  #FBFBFB);
  background: -ms-linear-gradient(top,  #E9E9E9,  #FBFBFB);
  background: -webkit-gradient(linear, left top, left bottom, from(#E9E9E9), to(#FBFBFB));
  background: -moz-linear-gradient(top,  #E9E9E9,  #FBFBFB);
}




#overviewbg div.bigboxwhite {

	text-align: center;


	background-color: white;
	border: solid 1px white;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
	-moz-box-shadow: 0px 0px 5px #eceef2;
	-webkit-box-shadow: 0px 0px 5px #eceef2;
	box-shadow: 0px 0px 5px #eceef2;
	/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/

}

#overviewbgbottom {
	height: 31px;
	padding: 0px 100px;
	background: url("overviewbgbottom.png") repeat-x #eceef1;
}

#overviewbgbottom .overviewarrowclass {
	height:31px;
	width: 40px;
	margin: 0px;
	padding: 0px;
	background: url("overviewbgarrow.png") no-repeat;	
	margin-left: 285px;
	
}

.overviewclass {
	padding-top: 20px;
	text-align: center;
}
.overviewclass h4 {
	text-align: center;
	color: #949ea8;
	font-size: 13px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 20px 0px 0px 0px ;	
}

.overviewclass h2 {
	text-align: center;
	color: black;
	font-size: 22px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 0px 0px 0px 0px ;	
}

.overviewclass p.littlebox {
	border: solid 2px #c3d1d3;
	font-size: 15px;
	font-family: Arial, "Helvetica", Sans-serif;	
	color: #7f8a8d;
	padding: 15px 0px;
}

.overviewclass p.littlebox span {
	color: black;
	font-weight: bold;
	padding-left: 10px;
}

.overviewclass p.littleboxdetails {
	font-size: 11px;
	width: 100px;
	font-family: Georgia, Serif;
	font-style: italic;	
	color: #7f8a8d;
	background-color: white;
	margin: -30px 0px 0px 100px;
	padding: 7px 0px;
}

.overviewclass p.littleboxunderline {
	border-bottom: solid 1px #e4eaeb;
	text-align: left;
	margin: 0px;
	padding: 8px 15px 8px 20px;
	font-size: 14px;
	font-family: Arial, "Helvetica", Sans-serif;
	color: black;	
}

.overviewclass p.overviewtext {
	font-size: 12px;
	font-family: Arial, "Helvetica", Sans-serif;
	line-height: 20px;
	color: black;
}

.overviewclass p.littleboxunderline span {
	float:right;
	color: #5c686b;
}

.overviewclass p.littleboxunderline span.frage {

	line-height: 15px;
	margin-left: 10px;
	width: 15px;

}

/* weiter section */

.weiterstep3 {

	border-top: solid 2px #D6E0E2;
	border-bottom: solid 2px #D6E0E2;
	padding: 20px 0px;
	margin-top: 40px;
	margin-bottom: 40px;

}

.weiterstep3 div {
	float:left;
	margin-left:230px;
	text-align: right;
}

.weiterstep3 div h4 {
	text-align: center;
	color: #949ea8;
	font-size: 13px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	
}

.weiterstep3 div h2 {
	color: black;
	font-size: 22px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 0px ;
	padding: 0px;
}

/* - big green button */

/* ----------------- Big green weiter- Button ----------------- */
			.button {


				float:right;
				margin-right: 220px;


				display: inline-block;


				border: 0px;
				font-family: Arial;
				color: #ffffff;
				font-size: 20px;
				padding-top: 10px;
				padding-right: 40px;
				padding-bottom: 10px;
				padding-left: 30px;
				margin-left: 10px;
				text-decoration: none;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0px 3px 0px #0d944a;
				-moz-box-shadow: 0px 3px 0px #0d944a;
				box-shadow: 0px 3px 0px #0d944a;
				text-shadow: 0px 1px 4px #096332;
				background-color: #11c966;
				background: #11c966 url(arrowgreen.png) no-repeat right; 
				cursor: pointer;
			}
			.button:hover {
				background: #0d944a;
				background: #11c966 url(arrowgreen_hover.png) no-repeat right; 
				cursor: pointer;
			}

/* --- */

/* -- detailswerden unten angezeigt button */

.detailsuntenanzeigen1 {

	width: 200px;
	margin-left: 35px;

   padding: 8px 16px;
   border: 1px solid #2986BF;
   background: -webkit-gradient(linear, left top, left bottom, from(#39A4DE), to(#3084C9));
   background: -webkit-linear-gradient(top, #39A4DE, #3084C9);
   background: -moz-linear-gradient(top, #39A4DE, #3084C9);
   background: -ms-linear-gradient(top, #39A4DE, #3084C9);
   background: -o-linear-gradient(top, #39A4DE, #3084C9);
   background-color: #3084C9;
   box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC;
   -webkit-box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC;
   -moz-box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC; 
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-shadow: #245378 1px 1px 0px;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   cursor: pointer;
   }
.detailsuntenanzeigen1:hover {

   }
.detailsuntenanzeigen1:active {

   }


   .detailsuntenanzeigen2 {


	width: 200px;
	margin-left: 35px;

   padding: 8px 16px;
   border: 1px solid #FCFCFC;
   background: -webkit-gradient(linear, left top, left bottom, from(#D1D9DE), to(#FFFFFF));
   background: -webkit-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -moz-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -ms-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -o-linear-gradient(top, #D1D9DE, #FFFFFF);
   background-color: #FFFFFF;
   box-shadow: 0px 7px 2px -5px #fff, inset 0px 0px 5px #7B97A8;
   -webkit-box-shadow: 0px 7px 2px -5px #fff, inset 0px 0px 5px #7B97A8;
   -moz-box-shadow: 0px 7px 2px -5px #fff, inset 0px 0px 5px #7B97A8;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-shadow: #FFFFFF 1px 1px 0px;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   cursor: pointer;
   }
.detailsuntenanzeigen2:hover {
  /* background: none;
   background-color: #FFFFFF;
   box-shadow: 0px 0px 5px 0px #AAAAAA;
   -webkit-box-shadow: 0px 0px 5px 0px #AAAAAA;
   -moz-box-shadow: 0px 0px 5px 0px #AAAAAA;
   border: 1px solid #ffffff;
   color: #470000; */
   }
.detailsuntenanzeigen2:active {
	/*
   top: 1px;
   position: relative;
   */
   }


/* ARROW BOXES AND GREEN TIMELINE */


.arrow_box {
	position: relative;
	background: #fff;
	border: 2px solid #C3D1D3;
	padding: 5px;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(236, 238, 241, 0);
	border-top-color: #ECEEF1;
	border-width: 4px;
	left: 50%;
	margin-left: -4px;
}
.arrow_box:before {
	border-color: rgba(195, 209, 211, 0);
	border-top-color: #C3D1D3;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}

.arrow_box h2 {
	font-size: 13px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.arrow_box p {
	font-size: 12px;
	font-family: Arial, "Helvetica", Sans-serif;

	margin: 0px;
	padding: 7px 0px;

	line-height: 15px;

	text-align: center;

}

.greentimeline {
	height: 5px;
	width: 100%;
	margin-top: 10px;


	background: #b4ddb4; /* Old browsers */
background: -moz-linear-gradient(left,  #b4ddb4 0%, #83c783 17%, #52b152 33%, #008a00 67%, #005700 83%, #002400 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#b4ddb4), color-stop(17%,#83c783), color-stop(33%,#52b152), color-stop(67%,#008a00), color-stop(83%,#005700), color-stop(100%,#002400)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* IE10+ */
background: linear-gradient(to right,  #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 83%,#002400 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4ddb4', endColorstr='#002400',GradientType=1 ); /* IE6-9 */

}


.arrow_box_2 {
	position: relative;
	background: #ffffff;
	border: 2px solid #D6E0E2;
	border-bottom: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	border-left: 2px solid #ffffff;
}
.arrow_box_2:after, .arrow_box_2:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_2:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 5px;
	left: 50%;
	margin-left: -5px;
}
.arrow_box_2:before {
	border-color: rgba(214, 224, 226, 0);
	border-bottom-color: #D6E0E2;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}

.arrow_box_2 p {
	font-size: 12px;
	font-family: Arial, "Helvetica", Sans-serif;

	margin: 0px;
	padding: 7px 0px;

	line-height: 15px;

	text-align: center;
	color:#91A3A7;
}

.step3projectdurationbox_unten {
	margin-top: 10px;
}


/* STEP 4 EUEBERISCHTSBOXEN */

.step4_box_anbieter {
	margin: 0;
	padding: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: #c2e1ef 0px 0px 5px;
	-moz-box-shadow: #c2e1ef 0px 0px 5px; 
	box-shadow: #c2e1ef 0px 0px 5px;
	background-color: #f1f2f5;
	width: 940px;
	margin: 5px 0px;
	margin-bottom: 15px;
	height: 280px;
	background: url("bg_box_step4_anbieter.png") repeat-x #f1f2f5;
}

.box_anbieter_title {

}

.box_anbieter_title h1, .box_anbieter_title h3 {
	font-family: "Arial", Sans-serif;
	color: #fff;
	font-size: 20px;
	margin: 0;
	padding: 12px 0px 0px 10px;
	font-weight: bold;
}

.box_anbieter_title h3 {
	color: #6f7e8a;
	font-size: 13px;
	padding: 0px 0px 0px 10px;
}

.box_anbieter_title_info_one {
	border-right: #313940 solid 1px;
	height: 61px;
	padding: 0px;
	margin:0px;
	padding-top: 10px;
}

.box_anbieter_title_info_one p {
	padding: 0px;
	margin:0px;
	color: #5e6c79;
	font-family: "Arial", Sans-serif;
	font-size: 12px;
	padding-left: 15px;
	font-weight: bold;
}

.box_anbieter_title_info_one span {
	
	float: right;
	padding-right: 15px;
	color: #fff;
}

.box_anbieter_title_info_one p.check {
	color: #fff;
	font-weight: normal;
	padding-left: 58px;
	background: url("step4_check.png") no-repeat;
	background-position:38px 3px;
}

.step4_star_move {
	padding:25px 0px 0px 40px;
}

.step4_untetitel_box {
	text-align: center;
	padding-top: 11px;
	font-family: "Arial", Sans-serif;
	font-size: 14px;
	color: #212a31;
}

.step4_untetitel_box span {
	font-family: Georgia, Serif;
	font-style: italic;
	border-bottom: solid 1px #8dc1d4;
}

.buttongridrechts {
	padding: 30px 0px 0px 30px;
	text-align: center;

}

.buttongridrechts a, .buttongridrechts a:hover {
	text-decoration: none;
}

.offertenbutton {
	/*position: absolute;*/
	width: 170px;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-align: center;
	font-weight: bold;
	color: #ffffff;
	padding: 10px 5px;
	width: 120px; 
	margin-left: 40px;
	margin-top: 30px;

	background: -moz-linear-gradient(
		top,
		#97d640 0%,
		#7dbb36 49%,
		#64ab22 50%,
		#4b9d15 75%,
		#146600);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#97d640),
		color-stop(0.49, #7dbb36),
		color-stop(0.50, #64ab22),
		color-stop(0.75, #4b9d15),
		to(#146600));
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #d6ffb0;
	-moz-box-shadow:
		0px 1px 2px rgba(000,000,000,0.4),
		inset 1px 1px 2px rgba(192,224,103,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(000,000,000,0.4),
		inset 1px 1px 2px rgba(192,224,103,1);
	box-shadow:
		0px 1px 2px rgba(000,000,000,0.4),
		inset 1px 1px 2px rgba(192,224,103,1);
	text-shadow:
		0px 1px 0px rgba(047,077,037,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.offertenbutton:hover {

	-moz-box-shadow:
		0px 1px 2px rgba(35,97,11,1),
		inset 1px 1px 2px rgba(192,224,103,1);
	-webkit-box-shadow:
		0px 1px 2px rgba(35,97,11,1),
		inset 1px 1px 2px rgba(192,224,103,1);
	box-shadow:
		0px 1px 2px rgba(35,97,11,1),
		inset 1px 1px 2px rgba(192,224,103,1);
	text-shadow:
		0px 1px 0px rgba(047,077,037,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
}

.unterdemoffertenbutton {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 10px;	
	color:#788489;
	margin: 0px;
	padding: 0px;
	margin-top: 0px;
	margin-left: 25px;
}

.step4_boxinformation {
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
	padding-top: 35px;
	padding-right: 0px;
}

.step4_boxinformation h2 {
	margin: 0px;
	padding: 0px;
	text-align: left;
	color: #6b8895;
	font-size: 18px;
	font-family: Arial, "Helvetica", Sans-serif;
	font-weight: normal;
	margin: 0px 0px 0px 0px ;	

}

.step4_boxinformation p {
	font-size: 12px;
	line-height: 17px;
	font-family: Arial, "Helvetica", Sans-serif;
	line-height: 20px;
	color: black;
	border-bottom: solid 1px #baced7;
}

.step4_boxinformation p span {
	float:right;
	color: black;
	color: #172335;
}

/* -------------------------------- */

/* Sortierfunktion DESIGN */
.s4_auswahl {
	margin: 0px;
	padding: 0px;
	text-align: center;
	padding-left: 120px;
}

.s4ListSelect {
	list-style: none;
	float: left;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;

	/* button style used the same as in step 3 */

		width: 180px;
	margin-left: 10px;
	text-align: center;

   padding: 8px 16px;
   border: 1px solid #FCFCFC;
   background: -webkit-gradient(linear, left top, left bottom, from(#D1D9DE), to(#FFFFFF));
   background: -webkit-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -moz-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -ms-linear-gradient(top, #D1D9DE, #FFFFFF);
   background: -o-linear-gradient(top, #D1D9DE, #FFFFFF);
   background-color: #FFFFFF;
   box-shadow: 0px 7px 2px -5px #ECEEF1, inset 0px 0px 5px #7B97A8;
   -webkit-box-shadow: 0px 7px 2px -5px #ECEEF1, inset 0px 0px 5px #7B97A8;
   -moz-box-shadow: 0px 7px 2px -5px #ECEEF1, inset 0px 0px 5px #7B97A8;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-shadow: #FFFFFF 1px 1px 0px;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   cursor: pointer;
}

.waswichtig {
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.s4ListSelect.checked, .s4ListSelect:hover {


		width: 180px;
	margin-left: 10px;

   padding: 8px 16px;
   border: 1px solid #2986BF;
   background: -webkit-gradient(linear, left top, left bottom, from(#39A4DE), to(#3084C9));
   background: -webkit-linear-gradient(top, #39A4DE, #3084C9);
   background: -moz-linear-gradient(top, #39A4DE, #3084C9);
   background: -ms-linear-gradient(top, #39A4DE, #3084C9);
   background: -o-linear-gradient(top, #39A4DE, #3084C9);
   background-color: #3084C9;
   box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC;
   -webkit-box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC;
   -moz-box-shadow: 0px 7px 2px -5px #A7ACB5, inset 0px 0px 2px #A1D9FC; 
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   text-shadow: #245378 1px 1px 0px;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   text-decoration: none;
   font-weight: bold;
   -webkit-transition: 0.1s;
   -moz-transition: 0.1s;
   -o-transition: 0.1s;
   cursor: pointer;
   }

#overviewbgbottom .overviewarrowclassstep4 {
	height:31px;
	width: 40px;
	margin: 0px;
	padding: 0px;
	background: url("overviewbgarrow.png") no-repeat;	
	margin-left: 215px;
	
}

.step4_bigtitle {
	margin: 0px;
	padding: 0px;
}

.sortierennach {
	margin-top: -190px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%
	padding0px;
}


/* HIDDEN OFFER BOX 
.box_getoffer {
  display: none;
  width: 800px;
  height: 400px;
  color: ;
  background-color: #fff;
}
.box_getoffer .inner {
  margin: 40px 20px 40px 20px;
}
.box_getoffer h1 {
  font-size: 18px;
  font-weight: normal;
}
.box_getoffer .eingabetext {
  font-weight: bold;
  color: ;
  margin-bottom: 30px;
}
.box_getoffer .smalltext {
  font-size: 11px;
  clear: both;
  text-align: center;
  padding-top: 15px;
  line-height: 13px;
}
.box_getoffer .schliessen {
  float: right;
  display: block;
  padding: 5px;
  font-size: 10px;
  color: ;
  margin-top: -20px;
}
.box_getoffer label {
  clear: both;
  display: block;
}
.box_getoffer label.error {
  color: red;
  float: right;
  font-size: 11px;
  margin-top: -5px;
}
.box_getoffer input,
.box_getoffer textarea {
  float: right;
  background-color: #fff;
  padding: 3px 10px 3px 10px;
  font-size: 13px;
  margin-top: -3px;
}
.box_getoffer input[type="submit"] {
  background-position: 225px 8px;
}
.box_getoffer p,
.box_getoffer label {
  font-size: 14px;
  line-height: 22px;
  font-weight: normal;
  color: ;
  margin-top: 15px;
  margin-bottom: 15px;
}
.box_getoffer .rechts {
  float: right;
  background-color: ;
  border-left: 1px solid ;
  width: 300px;
  height: 100%;
  background-image: url(img/anbieter_leftshadow.png);
  background-repeat: repeat-y;
}
.box_getoffer .links {
  float: left;
  height: 100%;
  width: 498px;
}
.box_getoffer .links .projektuebersicht {
  border-width: 1px 0px 1px 0px;
  padding: 10px 0px;
  width: 100%;
}
.box_getoffer .button {
  clear: both;
  float: right;
  font-color: #fff;
  background-position: 225px 8px;
  margin-right: 10px; 
 } */

  /* OFFERTEN POPUP BOX */


.box_getoffer {
	width: 945px;
	height: 587px;
	background: url("step4_bg_offerbox.png") no-repeat;
	display: none;
}

.box_getoffer .box_sidebar_left {
	height: 587px;
	width: 363px;
	float:left;
}

.box_getoffer .box_sidebar_left h2 {
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.box_getoffer .box_sidebar_left p {
	margin: 0px;
	padding: 4px 0px 0px 0px;
	color: #6b7a8a;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 16px;
}

.box_getoffer .box_content {
	float:right;
	width:582px;
	height:468px;
}

.box_getoffer .box_content .schliessen {
	position: absolute;
	margin-left: 442px;
	margin-top: 0px;
	padding: 5px;
	background-color: #efefef;
	border: solid 1px #7c8b9d;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 12px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.box_getoffer .box_content h2 {
	margin: 0px;
	padding: 0px;
	color: black;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 24px;
	font-weight: bold;
}

.box_getoffer .box_content p {
	margin: 0px;
	padding: 4px 0px 0px 0px;
	color: #71777e;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 16px;
}

.box_getoffer .box_content label {
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 18px;
	margin-top: 300px;

}

.separator {
	clear:both; 
	margin: 0px; 
	padding:0px; 
	height: 30px;
	width: 40px;
	display: block;

}

.box_getoffer .box_content label input, .box_getoffer .box_content label select, .box_getoffer .box_content label textarea {
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 16px;
	float:right;
	width: 250px;
	padding: 10px;
	margin-top: -10px;

	border:solid 1px #7b8e9c;
}

.box_getoffer .box_content label span {
	color:red;
}

.box_getoffer .box_content label input:focus, .box_getoffer .box_content label select:focus {
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 16px;
	float:right;
	width: 250px;
	padding: 10px;
	margin-top: -10px;

	border:solid 1px #10a85c;
		-webkit-box-shadow: 0px 0px 0px #ffffff;
				-moz-box-shadow: 0px 3px 0px #ffffff;
				box-shadow: 0px 0px 0px #ffffff;

}

.box_getoffer .box_footer {
	float:right;
	width:582px;
	height:119px;
}

.button_popup_step4 {

				float:right;
				display: inline-block;
				border: 0px;
				font-family: Arial, "Helvetica", Sans-serif;
				color: #ffffff;
				font-size: 20px;
				padding-top: 10px;
				padding-right: 40px;
				padding-bottom: 10px;
				padding-left: 30px;
				margin-left: 10px;
				text-decoration: none;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				-webkit-box-shadow: 0px 3px 0px #0d944a;
				-moz-box-shadow: 0px 3px 0px #0d944a;
				box-shadow: 0px 3px 0px #0d944a;
				text-shadow: 0px 1px 4px #096332;
				background-color: #11c966;
				background: #11c966 url("arrowgreen.png") no-repeat right; 
				cursor: pointer;


			}
.button_popup_step4:hover {
				background: #0d944a;
				background: #11c966 url("arrowgreen_hover.png") no-repeat right; 
				cursor: pointer;
			}

.box_footer p {
	float: left;
	padding: 0px;
	margin: 0px;
	margin-top: 17px;
	font-family: Georgia, "Helvetica", Sans-serif;
	font-style: italic;
	font-size: 18px;
	font-weight: normal;	
}

.box_footer p.under {
	float: right;
	font-family: Arial, "Helvetica", Sans-serif;
	font-size: 11px;
	font-style: normal;
	margin-top: 4px;
	margin-right: 40px;
	color: #63696e;

}



/* */
.formerror {
	color:#fff;
	font-family: Arial, sans-serif;
	font-size:13px;
	font-weight:bold;
	line-height:15px;
	padding-bottom:10px;
	text-align:left;
}
input.formerror {
	  background: url("error.png") no-repeat right; 
	  background-color: #fcdede;
	  /* border: solid 1px #feabab; */
	  text-align:left;
}
input.valid {
	  background: url("ok.png") no-repeat right; 
	  /*background-color: rgba(0,0,0,0.1);*/
}