{% extends "base_index.html" %}

{% block content %}
<!-- PROMT BOX start -->
<div id="shadowbg">
	<div class="prompt_box">
		<a href="#"><span class="schliessen clickshadow"> SCHLIESSEN </span></a>
		<h2>Verwalten Sie Ihre Solaranlage</h2>
		<p>Loggen Sie sich hier ein und verwalten Sie ihr Projekt. <span style="color:red">{{message}}</span>
			
			<form action="/" method="post">
				{% csrf_token %}
				<label><span>{{loginlogout}}:</span></label><input type="text" name="username" onfocus="if(this.value == 'Ihre Email') { this.value = ''; }" value="Ihre Email"  /> <br class="spacer" />
				<label><span>Passwort:</span></label><input type="password" name="password"  onfocus="if(this.value == 'Ihr Passwort') { this.value = ''; }" value="Ihr Passwort" /> <br class="spacer" /> 
				<label><span> </span> </label><input type="submit" value="{{loginlogout}}" name="loginlogour" class="buttoncener"/> 
			</form>

			</p>
	</div>
</div>
<!-- PROMT BOX end -->

<div class="start_headertop">
	<div class="container_12">
		<div class="grid_2 active"><h1>getSolar</h1></div>
		<div class="grid_8 centerlist">
			<ul>
				<a href="#"><li class="verschiebenlinks">Was ist Shamash?</li></a>
				<a href="#"><li>Solardachrechner</li></a>
				<a href="#"><li>Anbieter direkt vergleichen</li></a>
			</ul>
		</div>
		<div class="grid_2 loginclass clickshadow"><a href="#">login</a></div>
	</div>
</div>
	<div class="start_headertwo">
		<div class="container_12">
			<div class="grid_6">
				<h1>Ihre Solaranlage beginnt hier</h1>
				<p>
				Lorem ipsum dolor sit amet, consectetur adipiscings elit. 
				Suspendisse eget imperdiet dolor. <span style="color:red;">{{message}}</span>
				
				</p>
			</div>
			<div class="grid_6">
			<form action="/panel/" method="post">
			{% csrf_token %}
				<input class="wohnadresse" type="text" onfocus="if(this.value == 'Ihre Wohnadresse') { this.value = ''; }" value="Ihre Wohnadresse"  name="address"/> <br />
				<input type="text"  onfocus="if(this.value == 'Ihr Wohnort') { this.value = ''; }" value="Ihr Wohnort" class="postleihzahl" /><input type="submit" class="solarpotentialbutton" value="zum Solarpotential"/> 
			</form>
			</div>
		</div>
	</div>
{% endblock %}


