{% extends "calculator_base.html" %}

{% block calc_01_active %}active{% endblock %}

{% block header_inbody_step14 %}
{% endblock %}

{% block content %}
	<div class="start_headertwo">
		<div class="container_12">
			<div class="grid_6">
				<h1>Ihre Solaranlage beginnt hier.</h1>
				<p>
				Herzlich Willkommen zur Demoversion. Lorem ipsum dolor sit amet. Testnachricht hier: <span style="font-weight:bold;">{{message}}</span>
				
				</p>
				
				<p>
				liste my_list erstellen mit "a" "b" "cc"
				{% make_list "a" "b" "cc" as my_list %}
				checken if a is in my_list
				{% if "a" in my_list %}
					yes a is in my_list
				{% endif %}
				
				</p>
			</div>
			<div class="grid_6">
			<form action="/panel/" method="post">
			{% csrf_token %}
				<input class="wohnadresse" type="text" onfocus="if(this.value == 'Ihre Wohnadresse') { this.value = ''; }" value="Ihre Wohnadresse"  name="address"/> <br />
				<input type="text"  onfocus="if(this.value == 'Ihr Wohnort') { this.value = ''; }" value="Ihr Wohnort" class="postleihzahl" /><input type="submit" class="solarpotentialbutton" value="zum Solarpotential"/> 
			</form>
			</div>
		</div>
	</div>
{% endblock %}


