<!DOCTYPE html>
<html lang="en" style="height:auto;">
<head>
<meta charset="utf-8"/>
<title>Title Step 4</title>
<!-- Modernizer Script -->
  <!--  <script src="{{STATIC_URL}}/modernizr-2.5.3.min.js"></script> -->

<!-- CSS Normilze Stylesheet -->
<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

<!-- CSS GRID Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/960.css"/>

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- JQuery Lightbox Plugin -->
<script src="{{STATIC_URL}}/jquery.lightbox_me.js"/></script>


<!-- JQuery Validate Plugin -->
<script src="{{STATIC_URL}}/jquery.validate.js"/></script>

<!-- JQuery Validate for STEP 4!  -->
<script type="text/javascript">
$(document).ready(function(){

    $.validator.setDefaults({
        errorClass: 'formerror',
        errorElement: 'div',
    });
    
    $("#offerteabschicken").validate({
      // for the rules, use the id-names of the fields
      rules: {
         name: { 
            required: true,
            minlength: 2,
        },
         email: { 
            required: true,
            minlength: 2,
        }
        },
        messages: {
            name: {
                required: "Bitte NAME",
                minlength: "Ung&uuml;ltiger Ort"
            },
            email: {
                required: "Bitte Email",
                minlength: "Ung&uuml;ltiger Ort"
            },
        },
    
        success: function(element) {
            element.remove();
        }
        
    });
    

});
</script>

<!-- CSS Master Stylesheet 
<link rel='stylesheet' href="{{STATIC_URL}}/style.css"/> 
-->

<!-- Style Step 4 based on Style Step 3 (Juli 2013) -->
<link rel="stylesheet" href="{{STATIC_URL}}/step234juli2013/stylestep4.css" type="text/css" />

<!-- Dimmer Function NEW mit Plugin -->
<script type="text/javascript" id="sourcecode">
$(document).ready(function(){

/*--------------- Login Box ueber Step 1 - 4 -------*/
$(".loginclass").click(function(e){
    $(".prompt_box_login").lightbox_me({
        centered: true,
        onLoad: function() {
            $(".inner").find('input:first').focus()
        },
    }); 
});

/*--------------- Offerten im Step 4 ---------------*/
// die boxen werden im CSS mit display:none; nicht gezeigt
$("p.offertenbutton").click(function(e){
    // es werden die classen rausgelesen aus dem p, und die zweite classe als ID dann gesucht
    var gettheclasses=$(this).attr("class").split(' ');
    $("#"+gettheclasses[1]).lightbox_me({
        centered: true,
        onLoad: function() {
            $(".inner").find('input:first').focus()
        },
    });
e.preventDefault();
});

// SCHLIESSEN-Button in der Box
$(".schliessen").click(function(e){ 
    $(this).trigger('close');
});

// toggle the warnnachrichtbox in den STEPS

    $(".closetoggle").click(function(){
        $(".steps_warnnachricht").slideToggle("fast");
    });

});
</script>





<!-- Google Analytics Code Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41062478-1', 'instantsolar.ch');
  ga('send', 'pageview');

</script>





<!-- Calculating distances between user and company Script -->

<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=false&amp;key=AIzaSyAZcXhfzbbDh5SayEibA0I2sBa7dvpnR5k"></script>


<script type="text/javascript">
    $(document).ready(function () {

        //creating latlng coordinates of home address
      	var my_home_Latlng = new google.maps.LatLng({{home_lat_coord}}, {{home_lng_coord}});

	    {% for company in list_of_companies %}
        //creating latlng coordinates of company address
      	var company_Latlng = new google.maps.LatLng({{company.lat_coord}}, {{company.lng_coord}});

        //calculting distnace of the two addresses 
        var my_distance = google.maps.geometry.spherical.computeDistanceBetween(my_home_Latlng, company_Latlng);
        //the sorting algorithm works by sorting in descending order. When I tried to add 1/my_distance to the attribute
        //the algorithm somehow didn't get it. 10'000-... is a bit of a workaround
        $("#company_li_{{company.id}}").attr("b", 10000-my_distance/1000);


        {% endfor %}


    });
</script>

<!-- RATING Script -->
<script type="text/javascript" src="{{STATIC_URL}}/raty_rating_system/lib/jquery.raty.min.js"></script>


<script type="text/javascript">
    $(function() {
        //getting some pictures data
        $.fn.raty.defaults.path = '{{STATIC_URL}}/raty_rating_system/lib/img';

        //for each company the div will have a different name to assign a different number of stars, that'
        //why we cycle through all companies that will be displayed on this site
    	{% for company in list_of_companies %}
          $('#star{{company.id}}').raty({ readOnly: true, score: {{company.stars_average}} });
        {% endfor %}
    });
</script>

<!-- TinySort Sorting Script for sorting the list elements of companies available for installation in the custoemrs area(needed for the next bit to work) -->
<script type="text/javascript" src="{{STATIC_URL}}/tinysort_jquery_plugin/src/jquery.tinysort.min.js"></script>
<!-- SORTING Script -->
<script type='text/javascript'>
    /*-------- SORTING SCRIPT --------*/

    // variables for the sorting script
    var selected = new Array();
    var zwischensumme = new Array();

    // summing function for the variable
    $.sum = function (arr) {
        var r = 0;
        $.each(arr, function (i, v) {
            r += v;
        });
        return r;
    }

    // jQuery Stuff for sorting script: This script sorts according to the "data" variables in the list items, see the HMTL below
    $(document).ready(function () {

        // PROMPT BOX fix of the offer

        $("p.offertenbutton").click(function (e) {
            // es werden die classen rausgelesen aus dem p, und die zweite classe als ID dann gesucht
            var gettheclasses = $(this).attr("class").split(' ');

            $("#" + gettheclasses[1]).lightbox_me({
                    centered: true,
                    onLoad: function () {
                        $(".inner").find('input:first').focus()
                    }
                });

            e.preventDefault();
 
        });

        // SCHLIESSEN-Button in der Box
        $(".schliessen").click(function (e) {
            $(this).trigger('close');
            // this prevents the screen from jumping back all the time(in terms of scrolling) -charles
            return false;
        });

        // Sorting stuff 

        $(".s4ListSelect").click(function () {
            //$('ul#company_list>li').tsort({attr:'a'});

           
            // untoggling each element that is toggles
            $("li.s4ListSelect").each(function () 
            {
                if ($(this).hasClass("checked"))
                    {
                        $(this).toggleClass("checked");
                    }
            });
            //toggling the element clicked
            $(this).toggleClass("checked");


            // find out, what checkboxes are checked and put the VALUE in the selceted variable is checked!
            //input:checkbox[name=sortieren]:checked



            $(".s4_auswahl .checked").each(function () {
                selected.push($(this).attr("data"));
            });



            // for each list element 
            $("li.s4list").each(function () {
                // with .length check the arrays length, how many elements and get the attribute with the same name
                for (var i = 0; i < selected.length; i++) {
                    var thisThing = selected[i];
                    zwischensumme.push(parseInt($(this).attr(thisThing)));
                    // $(this).html($.sum(zwischensumme));
                }

                $(this).attr("total", $.sum(zwischensumme));

                //zwischensumme loeschen;
                zwischensumme = [];

            });

            //Liste sortieren nach 
            $('ul#company_list>li').tsort({order:"desc",attr:"total"});


            // Array loeschen
            selected = [];
            // total value loeschen
            $("li").each(function () {
                $(this).attr("total", "");

            });
            // this prevents the screen from jumping back all the time(in terms of scrolling) -charles
            return false;
        });


    });
</script>


<!-- SCRIPT TO MOVE THE ARROW UNDER THE SELECTION LIST-->

<!-- ..................START POPUP BOXES ..................................-->
<script type='text/javascript'>
$(document).ready(function() {
    $('[data=a]').click(function(){
       $('.overviewarrowclassstep4').css({'margin-left':'215px'});    
    });
    $('[data=b]').click(function(){
       $('.overviewarrowclassstep4').css({'margin-left':'428px'});    
    });
    $('[data=c]').click(function(){
       $('.overviewarrowclassstep4').css({'margin-left':'647px'});    
    });
});
</script>

<!-- Offerten Popup boX -->
<script type="text/javascript" id="sourcecode">
    $(document).ready(function(){

        // die boxen werden im CSS mit display:none; nicht gezeigt
        $("p.offertenbutton").click(function(e){
            // es werden die classen rausgelesen aus dem p, und die zweite classe als ID dann gesucht
            var gettheclasses=$(this).attr("class").split(' ');
            $("#"+gettheclasses[1]).lightbox_me({
                centered: true,
                onLoad: function() {
                    $(".inner").find('input:first').focus()
                },
            });
            e.preventDefault();
        });

        // SCHLIESSEN-Button in der Box
        $(".schliessen").click(function(e){ 
            $(this).trigger('close');
        });

        // toggle the warnnachrichtbox in den STEPS

        $(".closetoggle").click(function(){
            $(".steps_warnnachricht").slideToggle("fast");
        });

    });

</script>

<!-- Popup, once QUOTE has been REQUESTED -->
<!--(checking with django tags whether success tag is present in messages)-->
    
{% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %} 
            <script type="text/javascript" id="sourcecode">
                $(window).load(function(){
                
                    // die boxen werden im CSS mit display:none; nicht gezeigt
                    $("#quote_request_success_box_id").lightbox_me({
                        centered: true,
                        onLoad: function() {
                            $(".inner").find('input:first').focus()
                        },
                    });


                    // SCHLIESSEN-Button in der Box
                    $(".schliessen").click(function(e){ 
                        $(this).trigger('close');
                    });

                    // toggle the warnnachrichtbox in den STEPS

                    $(".closetoggle").click(function(){
                        $(".steps_warnnachricht").slideToggle("fast");
                    });
                });
            </script>
        {% endif %}
    {% endfor %}
{% endif %}

<!-- ....................END POPUP BOXES ....................................-->

</head>



<body>

    <div class="container_12" id="headernavtop" >
        
        <div class="grid_3" >
            <img src="{{STATIC_URL}}/step234juli2013/logo.png" class="logo" />
        </div>
        <div class="grid_9">
            
            <!--<a href="#"><img class="loginbutton" src="login.png" /> </a>-->
            <ul>            
                    <a href="#"><li>Kontakt</li></a>
                    <a href="#"><li>&Uuml;ber uns</li></a>
                    <a href="#"><li>Anbieter direkt vergleichen</li></a>
                    <a href="#"><li class="active">Solarpotential berechnen</li></a>
            </ul>
        </div>
    </div>
<div class="container_12" id="headerpagenav">

    <div class="grid_12" >

        <a href="#">
            <img class="back" src="{{STATIC_URL}}/step234juli2013/backbutton.png" />
        </a>

        <span style="line-height:27px;">
            <a href="#">Startseite</a>
            /
            <a href="#">Dacheigenschaften eigeneben</a>
            /
            <a href="#" >Potential berechnen</a>
            /
            <a href="#" class="active">Anbieter vergleichen</a>
        </span>

       <!-- <a href="#">
            <img class="forward" src="{{STATIC_URL}}/step234juli2013/weiterbutton.png" />
        </a> -->
    </div>
</div>
<div class="container_12" id="overviewbg">
    <div class="grid_12" style="margin-bottom:-20px;" >
        <h3>ES WURDEN {{request.session.number_of_companies}} LOKALE SOLARANBIETER GEFUNDEN.</h3>
        <h2 class="step4_bigtitle" style="margin-bottom:5px;">Vergleichen Sie im Nachfolgenden die Anbieter und fordern Sie eine kostenlose Offerte an. {{message}} </h2>
    </div>

    <div class="grid_12 waswichtig">
    <h3 class="sortierennach">ANBIETER NACH FOLGENDEN KRITERIEN SORTIEREN: </h3>
        <ul class="s4_auswahl">
             <br/><a href="#"><li id = "customer_rating_id" data="a" class="s4ListSelect">Kundenbewertungen</li></a>
            <a href="#"><li id = "closeness_id"  data="b" class="s4ListSelect ">Nähe zu Ihnen</li></a>
            <a href="#"><li id = "product_source"  data="c" class="s4ListSelect ">Produkte-Herkunftsland</li></a>
        </ul>
    </div>
</div>

<div class="container_12" id="overviewbgbottom">
    <div class="grid_12" >
                    <p class="overviewarrowclassstep4" /> &nbsp;</p>
    </div>
</div>

    <div class="step4_boxes">


    	<div class="clear"></div>
    	

        <!-- This is the list of Companies as retrieved by Django-->
        <ul class="s4ul" id="company_list">

        	{% for company in list_of_companies %}

            <!-- STEP 4 BOX NEW START -->
            
            <li class="s4list" id="company_li_{{company.id}}" a="{{company.stars_average}}" b="0" c="5" d="8" total="">
            <div class="container_12">
                <div class="step4_box_anbieter">
                <div class="grid_4 box_anbieter_title">
                    <h1>{{company.name}}</h1>
                    <h3>{{company.subtitle}}</h3>
                </div>

                <div class="grid_3 box_anbieter_title_info_one">

                    <p>Standort<span>{{company.gemeinde}}</span></p>
                    <p>Gr&uuml;ndung<span>{{company.year_of_founding}}</span></p>
                    <p>Mitarbeiterzahl<span>{{company.number_of_employees}}</span></p>
                </div>
                <div class="grid_3 box_anbieter_title_info_one">
                    <p>Dienstleistungen<span>xy, xy</span></p>
                    <p>&nbsp;<span>xy, xy</span></p>
                    <p>#Realisierte Projekte<span>{{company.number_of_successful_projects}}</span></p>
                </div>
                <div class="grid_2" style="text-align:center;">
                    
                        <div class="step4_star_move" id="star{{company.id}}"></div>
                   
                    
                </div>
                <div class="grid_12 step4_untetitel_box">
                    Gesch&auml;tzte Kosten für eine <span>{{power_output}} kWh-Anlage</span> an der <span>{{strasse}}:</span>
                </div>
                <div class="grid_3 ">
                    <div class="step4_boxinformation">
                    <h2>Finanziell</h2>
                    <p>Anlagekosten <span>ca. {{company.price}} CHF </span></p>
                    <p>Amortisationszeit <span>ca. {{company.amortization_time}} CHF</span></p>
                    <p>Profit nach 25 Jahren <span>ca. {{company.profit_25}} CHF</span></p>
                    </div>
                </div>
                <div class="grid_3">
                <div class="step4_boxinformation">
            
                    <h2>Technische Details</h2>
                    <p>Marke <span>{{company.reference_product}}</span></p>
                    <p>Produkteherkunft <span>{{company.reference_product.country_of_origin}}</span></p>
                    </div>

                </div>
                    <div class="grid_3">
                    <div class="step4_boxinformation">

                    <h2> &nbsp;</h2>
                    <p>Anlagefl&auml;che <span>{{area}} m<sup>2</sup></span></p>
                    <p>Panel Effizienz <span>{{company.reference_product.efficiency}} %</span></p>
                            </div>

                </div>
                

                <div class="grid_3" style="margin-left:-10px; margin-right:-30px;" >
                    <div class="buttongridrechts">
                        <a href="#"><p class="offertenbutton {{company.id}}">Offerte anfordern</p>
                        </a>
                        <p class="unterdemoffertenbutton">Unverbindlich, kostenlos, <br/>unkompliziert</p> 
                   </div>
                </div>
                <div style="clear"></div>

            </div>

            </div>
            </li>
            <!-- STEP 4 BOX NEW STOP -->            
            {% endfor %}


            <!-- >>>> This is a number of prompt boxes for each element in the companies list above s --> 
             {% for company in list_of_companies %}
                <div class="box_getoffer" id="{{company.id}}">
                	

                    <div class="box_sidebar_left">
            <div style="padding:40px 20px 20px 20px;">
                <h2>{{company.name}}</h2>
                <p>{{company.subtitle}}</p>
            </div>
        </div>
        <div class="box_content">
            <div style="padding:40px 20px 20px 40px;">
                <a href="#"><span class="schliessen">Schliessen</span></a>
                <h2>Kostenlose Offerten einholen</h2>
                <p></p>

                    <form method="post" action="/request_quote/" id="offerteabschicken">

                    <input type="hidden" name="company_selected" value="{{company.name}}" id = "id_company_selected">
                    <label> <input type="hidden" name="offerte_einholen" value="offerte_einholen" ></label>

                    <div class="separator">&nbsp;</div>    
                    <label> Name <span>*</span>  {{form.name}}</label>
                    <div class="separator">&nbsp;</div>    
                    <label> Email <span>*</span> {{form.email}}</label>
                    <div class="separator">&nbsp;</div>    
                    <label> Kommentar {{form.commentary}}</label>

                    <div class="separator">&nbsp;</div>    
                    <label>
                            Wann wollen Sie die Anlage? {{form.urgency_of_installation}}

                    </label>
                    <div class="separator">&nbsp;</div> 
                    <label> Empfehlen Sie uns Ihre Bekannte! {{form.recommended_email}}</label>
                    

            </div>
        </div>
        <div class="box_footer">
            <div style="padding:40px 20px 20px 40px;">
                
                <p class="">Lorem ipsum dolor sit amet non.</p>

                <input type="submit" value="Offerte einholen" class="button_popup_step4" >
                {% csrf_token %}
                </form>

                <p style="clear: both; "></p>
                <p class="under">kostenlos und unverbindlich</p>
            </div>
        </div>                    

                    <!--<div class="rechts">
                		<div class="inner">
                			<a href="#"><span class="schliessen">SCHLIESSEN</span></a> <h1>Offerte anfordern:</h1>
                			<p>Kleiner Text kommt hier, der das alles ein weing klarer macht </p>
                			<form method="post" action="/request_quote/" id="offerteabschicken">

                            <input type="hidden" name="company_selected" value="{{company.name}}" id = "id_company_selected">
                            <label class="eingabetext"> <input type="hidden" name="offerte_einholen" value="offerte_einholen" ></label>
                			<label class="eingabetext"> Name *  {{form.name}}</label>
                			<label class="eingabetext"> Email * {{form.email}} </label>
                			<label class="eingabetext"> Kommentar {{form.commentary}}</label>
                			<input type="submit" class="biggreenbutton button" value="Kostenlose Offerte anfordern" />
                			<p class="smalltext"> Hiermit erklaeren Sie sich einverstanden, dass Ihre Seele verkauft wird.</p>
                            {% csrf_token %}

                			</form>

                		</div>
                	</div>	
                	<div class="links">
                		<div class="inner">
                			<h1>Ihr Projekt von lorem ipsum dolor sit amet</h1>
                			<p class="projektuebersicht">
                			
                			Nulla nisl metus, placerat vitae malesuada sed, blandit eget eros. Mauris eleifend facilisis mauris ac ornare. Suspendisse quis nisi tellus. Integer at odio lobortis ante aliquam ullamcorper. Proin eu mauris at ligula eleifend accumsan vitae at lectus. Praesent elementum orci mi. Pellentesque suscipit erat vitae tellus placerat consequat.
                			
                			<br/>
                			Moeglichkeiten: Kleine Rechnung aufstellen vergleichen mit Backend!
                			</p>
                		</div>
                	</div>
                    -->
                </div>
            {% endfor %}
        </ul>


        <!-- This prompt box appears if a quote request has been made successfully-->
        <div class="box_getoffer" id="quote_request_success_box_id">
            <div class="rechts">
                <div class="inner">
                    <a href="#"><span class="schliessen">SCHLIESSEN</span></a> <h1>Offerte anfordern:</h1>
                    <p>Kleiner Text kommt hier, der das alles ein weing klarer macht </p>
                    <form method="post" action="/request_quote/" id="offerteabschicken">

                    <input type="hidden" name="company_selected" value="{{company.name}}" id = "id_company_selected">
                    <label class="eingabetext"> <input type="hidden" name="offerte_einholen" value="offerte_einholen" ></label>
                    <label class="eingabetext"> Name *  {{form.name}}</label> {{ form.name.errors }}
                    <label class="eingabetext"> Email * {{form.email}} </label>{{ form.email.errors }}
                    <label class="eingabetext"> Kommentar {{form.commentary}}</label>{{ form.commentary.errors }}
                    <input type="submit" class="biggreenbutton button" value="Kostenlose Offerte anfordern" />
                    <p class="smalltext"> Hiermit erklaeren Sie sich einverstanden, dass Ihre Seele verkauft wird.</p>
                    {% csrf_token %}

                    </form>

                </div>
            </div>  
            <div class="links">
                <div class="inner">
                    <h1>Herzlichen Glückwunsch! Sie werden in kürze eine kostenlose und unverbindliche Offerte erhalten</h1>
                    <p class="projektuebersicht">
                    
                    Nulla nisl metus, placerat vitae malesuada sed, blandit eget eros. Mauris eleifend facilisis mauris ac ornare. Suspendisse quis nisi tellus. Integer at odio lobortis ante aliquam ullamcorper. Proin eu mauris at ligula eleifend accumsan vitae at lectus. Praesent elementum orci mi. Pellentesque suscipit erat vitae tellus placerat consequat.
                    
                    <br/>
                    Moeglichkeiten: Kleine Rechnung aufstellen vergleichen mit Backend!
                    </p>
                </div>
            </div>
        </div>
        <!-- END prompt box for sucessfull quot request-->

        	
    	<p class="linie"> </p>
    	
        <!--

        <div class="grid_6 wieweiter">
    		<h3> Wie geht es weiter? </h3>
    		<p>Lorem ipsum dolor sit amet, conse porttitor. Fuis vulputate sed, mollis sit amet lorem.</p>
    	</div>




    	<div class="grid_6 wieweiter2">
    		<p>Bultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen. ultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen.</p>
    		
    	</div>
    	
    	<div class="grid_4 wieweiter2">
    		<a href="/user/compare#register"><p class="biggreenbutton"> Hier der Weiterbutton </p></a>
    	</div>

        -->
    </div>
</body>