<!DOCTYPE html>
<html lang="en" style="height:auto;">
<head>
	<meta charset="utf-8"/>

	<!-- CSS Normilze Stylesheet -->
	<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

	<!-- CSS GRID Stylesheet -->
	<link rel='stylesheet' href="{{STATIC_URL}}/960.css"/>

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

	<!-- JQuery Lightbox Plugin -->
	<script src="{{STATIC_URL}}/jquery.lightbox_me.js"/></script>

	<!-- JQuery Validate Plugin -->
	<script src="{{STATIC_URL}}/jquery.validate.js"/></script>

	<script type='text/javascript'>
$(document).ready(function() {
	//AJAX stuff
    //Deteremines the current URL, eg www.example.com
    var currentpath = window.location;

    //Initally, each link turned to red. This is an indicator the jQuery is working correctly.
    

    //The following calls a function when a "slug" link is clicked... - *1
        $('.boxinnen').click(
                function(){
                        //Stores which slug link was clicked as the variable "object"
                        var object = $(this);
                        $('.boxinnen').removeClass("ausgewaehlt");
                        object.addClass("ausgewaehlt");

                        //When clicked the color changes to blue. This was used more when debugging
                        //$(this).css("background-color","blue");
                        
                        //The url for the request is taken from the <a> object
                        var url = object.attr("href");

                        //The request path is fixed, i.e "www.example.com" + "slug/1/"
                        var call_url = currentpath + url;

                        //Next up is our bread and butter. 
             
                        $.get(call_url, function(data) {
                            $('#selected_price_div').empty();
                            $('#selected_price_div').append(data.price_selected + " Fr.");  
                           
                        });

                        return false;
                });
});

</script>

	<!-- Popup Login-Function -->
	<script type="text/javascript" id="sourcecode">
$(document).ready(function() {
 
        var registerBox=window.location.hash;
        if (window.location == "http://www.instantsolar.ch/results_thermal/") {
			// show loginbox
			// alert("du bist drin");
			
			
			$(".prompt_box_login").lightbox_me({
				centered: true,
				onLoad: function() {
			$(".inner").find('input:first').focus()
			},
			});	
		}
});
</script>

	


	<!-- Header Version Juli 2013 -->

	<link rel="stylesheet" href="{{STATIC_URL}}/step234juli2013/stylestep3.css" type="text/css"></head>


<!-- Step 3 Click between the big selection boxes: change of content and design
	The "Empfohlenes Solarpotential"-Box ist at first load the selected one. 
	the left box has an unique id "boxone"
	and the right box has a unique id "boxtwo"

 -->
 <script type='text/javascript'>
// see description above

//on click of boxtwo (right box), if the box has tha class bigboxwhite, change the style of the box by adding the class "bigboxblue" to it and remove the class "bigboxblue" fromt the first box. change also the button (from white to blue) and move the big arrow from the content-area under the box

//id for the buttons: left: buttonboxone and right: buttonboxtwo

$(document).ready(function() {
	$('#boxtwo').click(function(){
	  // check if box two has the class "bigboxwhite"
	  if ($('#boxtwo').hasClass('bigboxwhite') == true) {
	  	// change the class of boxtwo to bigboxblue
	  	$('#boxtwo').removeClass('bigboxwhite').addClass('bigboxblue');
	  	// change the button-class
	  	$('#buttonboxtwo').removeClass('detailsuntenanzeigen2').addClass('detailsuntenanzeigen1');
	  	// change button text
	  	$('#buttonboxtwo').html('Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" />');

	  	// change the class of box one to bigboxwhite
	  	$('#boxone').removeClass('bigboxblue').addClass('bigboxwhite');
	  	// change button of button one 
	  	$('#buttonboxone').removeClass('detailsuntenanzeigen1').addClass('detailsuntenanzeigen2');
	  	// change text of button one
	  	$('#buttonboxone').html('Details anzeigen');

	  	// move arrow underneath the box two
	  	$('.overviewarrowclass').css({'margin-left':'690px'});	

	  }
	  else {
	  	// do nothing (box two is already selected)
	  	// scroll down to the selection ?



	  };
	});

	// if you click on box one and it is not selected (has the class bigboxwhite)

		$('#boxone').click(function(){
	  // check if box one has the class "bigboxwhite"
	  if ($('#boxone').hasClass('bigboxwhite') == true) {
	  	// change the class of boxone to bigboxblue
	  	$('#boxone').removeClass('bigboxwhite').addClass('bigboxblue');
	  	// change the button-class of button one
	  	$('#buttonboxone').removeClass('detailsuntenanzeigen2').addClass('detailsuntenanzeigen1');
	  	// change button text
	  	$('#buttonboxone').html('Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" />');

	  	// change the class of box two to bigboxwhite
	  	$('#boxtwo').removeClass('bigboxblue').addClass('bigboxwhite');
	  	// change button of button two 
	  	$('#buttonboxtwo').removeClass('detailsuntenanzeigen1').addClass('detailsuntenanzeigen2');
	  	// change text of button two
	  	$('#buttonboxtwo').html('Details anzeigen');

	  	// move arrow underneath the box one
	  	$('.overviewarrowclass').css({'margin-left':'285px'});	
	  }
	  else {
	  	// do nothing (box two is already selected)
	  	// scroll down to the selection ?
	  };
	});

	// scroll down, if click on box one or box two
	$('#boxtwo').click(function(){
		  	// scroll down
	  	$('html, body').animate({
        	scrollTop: $( "#myAnchor" ).offset().top}, 600);
    		return false;
    });

	$('#boxone').click(function(){
		  	// scroll down
	  	$('html, body').animate({
        	scrollTop: $( "#myAnchor" ).offset().top}, 600);
    		return false;
    });

});

 </script>



<body>

	<div class="container_12" id="headernavtop" >
		
		<div class="grid_3" >
			<img src="{{STATIC_URL}}/step234juli2013/logo.png" class="logo" />
		</div>
		<div class="grid_9">
			
			<!--<a href="#"><img class="loginbutton" src="login.png" /> </a>-->
			<ul>			
					<a href="#"><li>Kontakt</li></a>
					<a href="#"><li>&Uuml;ber uns</li></a>
					<a href="#"><li>Anbieter direkt vergleichen</li></a>
					<a href="#"><li class="active">Solarpotential berechnen</li></a>
			</ul>
		</div>
	</div>
<div class="container_12" id="headerpagenav">
	<div class="grid_12" >

		<a href="#">
			<img class="back" src="{{STATIC_URL}}/step234juli2013/backbutton.png" />
		</a>

		<span>
			<a href="#">Startseite</a>
			/
			<a href="#">Dacheigenschaften eigeneben</a>
			/
			<a href="#" class="active">Potential berechnen</a>
		</span>

		<a href="#">
			<img class="forward" src="{{STATIC_URL}}/step234juli2013/weiterbutton.png" />
		</a>
	</div>
</div>
<div class="container_12" id="overviewbg">
	<div class="grid_12" >
		<h3>SEHEN SIE HIER IHR PERS&Ouml;NLICHEN &Uuml;BERBLICK</h3>
		<h2>
			Ihr Dach einigt sich sehr gut f&uuml;r eine Photovoltaikanlage.
		</h2>
	</div>
		<div id="myAnchor" class="grid_2 informationbox">
			<p>Energieproduktion</p>
			<p>Deckung Eigenbedarf</p>
			<p>Ersparnis Stromrechnung</p>
			<p>Gespartes CO2</p>
		</div>
		<div class="grid_4">
			<div id="boxone" class="bigboxblue">
				<h5>Maximales Solarpotential</h5>
					<p class="info"> Durch die Installation einer Anlage dieser Gr&ouml;sse bewirken Sie f&uuml;r sich und die Umwelt folgendes:</p>
					<p class="lines"> <span> {{power_output_medium}} kWH</span>  saubere Energie aus der Schweiz </p>
					<p class="lines"> Deckung von <span> {{percent_of_electricity_from_plant_medium}} % </span>  Ihres Strom-Eigenbedarfes </p>
					<p class="lines"> Einsparung von <span> {{money_saved_medium}} CHF</span> an Stromrechnung </p>
					<p class="lines"> Reduktion von <span> {{co_2_saved_medium}} Tonnen CO2</span> Ausstoss </p>
				<br />
				<p id="buttonboxone" class="detailsuntenanzeigen1">Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" /></p>
				<br />
			</div>
		</div>
		<div class="grid_1"> &nbsp;</div>
		<div class="grid_4">
			<div id="boxtwo" class="bigboxwhite">
				<h5>Maximales Solarpotential</h5>
					<p class="info"> Durch die Installation einer Anlage dieser Gr&ouml;sse bewirken Sie f&uuml;r sich und die Umwelt folgendes:</p>
					<p class="lines"> <span> {{power_output_large}} kWH</span>  saubere Energie aus der Schweiz </p>
					<p class="lines"> Deckung von <span> {{percent_of_electricity_from_plant_large}} % </span>  Ihres Strom-Eigenbedarfes </p>
					<p class="lines"> Einsparung von <span> {{money_saved_large}} CHF</span> an Stromrechnung </p>
					<p class="lines"> Reduktion von <span> {{co_2_saved_large}} Tonnen CO2</span> Ausstoss </p>
				<br />
								<p id="buttonboxtwo" class="detailsuntenanzeigen2">Details anzeigen </p>
				<br />

			</div>
		</div>
		<div class="grid_1"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br></div>
<div class="container_12" id="overviewbgbottom">
	<div class="grid_12" >
		<div class="grid_12" >
			<p class="overviewarrowclass" /> &nbsp;</p>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview1.png" />
		<h4>Was Sie erwarten k&ouml;nnen</h4>
		<h2>Energieproduktion</h2>

		<p class="overviewtext">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur sagittis.
		</p>

		<p class="littlebox">
			Anlageleistung
			<span>{{power_output_medium}} kWh</span>
		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			Gr&ouml;sse Ihrer Anlage
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>{{area_medium_str}} m2</span>
		</p>
		<p class="littleboxunderline">
			Anteil Strom von Solaranlage
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>{{percent_of_electricity_from_plant_medium}}%</span>
		</p>

	</div>
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview2.png" />
		<h4>Was Sie erwarten k&ouml;nnen</h4>
		<h2>Finanziell</h2>

		<p class="overviewtext">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur sagittis.
		</p>

		<p class="littlebox">
			Kosten Nach Subventionen
			<span>{{bottom_line_cost_medium}}  {{price_medium}}</span>
		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			bla
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>{{price_medium}} CHF</span>
		</p>
		<p class="littleboxunderline">
			Subventionen während 25 Jahren
			<span class="frage">&nbsp;</span>
			<span>{{subsidies}} CHF</span>
		</p>
		<p class="littleboxunderline">
			Lorem ipsum
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>500 kwH</span>
		</p>
		<p class="littleboxunderline">
			Profit nach 25 Jahren
			<span class="frage">&nbsp;</span>
			<span>{{profit_25_medium}}</span>
		</p>
		<p class="littleboxunderline">
			Lorem ipsum
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>500 kwH</span>
		</p>
	</div>
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview3.png" />
		<h4>Was Sie erwarten k&ouml;nnen </h4>
		<h2>Umwelt</h2>

		<p class="overviewtext">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consectetur sagittis.
		</p>

		<p class="littlebox">
			Electric output
			<span>12 kWh</span>
		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			Lorem ipsum
			<span class="frage">
				<a href="#">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span>500 kwH</span>
		</p>
		<p class="littleboxunderline">
			Lorem ipsum
			<span class="frage">&nbsp;</span>
			<span>500 kwH</span>
		</p>

	</div>


<!-- ARROW BOXES AND GREEN TIMELINE -->

		<div class="clear"></div>

		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>STANDORT W&Auml;HLEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>INSTALLATEUR FINDEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>BAUBEWILLIGUNG EINHOLEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox">
			<div class="arrow_box">
					<h2>INSTALLATION <br/></h2>
					<p>Lorem ipsum dolor sit amet sit amet sit ametsit amet ipsum dolor sit amet sit amet sit ametsit amet</p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox">
			<div class="arrow_box">
					<h2>NETZANSCHLUSS</h2>
					<p>Lorem ipsum dolor sit amet sit amet sit amet dolor sit amet sit amet sit amet</p>
			</div>
		</div>

		<div class="grid_12 greentimeline">
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>



	<div class="grid_12 weiterstep3">

		<div>
			<h4>LOREM IPSUM DOLOR SIT AMET NON PLUS ULTRA</h4>
			<h2>Lorem ipsum dolor sit amet</h2>
		</div>

		<a href="#">
			<input type="submit" value="weiter" class="button" ></a>

	</div>
</div>

<div class="bigoverview">
	<div class="container_12">
		<div class="grid_6">
			<h1>Personalisierte &Uuml;berblick f&uuml;r Ihr Haus:{{message}}</h1>
		</div>

		<div class="grid_6">
			<ul id="dropdownphotovoltaik">
				<li class="selectdown">
					<a href="#">{{installation_type}}</a>
					<ul>
						<li>
							<a href="http://www.instantsolar.ch/results_photo/">
								<h3>Stromproduktion mit Solarzellen</h3>
								<span>
									Mit der Sonnenenergie Strom poduzieren Hier kommt eipoduzieren Hier kommt ein kleiner erkl&auml;runpoduzieren Hier kommt ein kleiner erkl&auml;runn kleiner erkl&auml;rungstext und auch eine kleine Infographic rechts.
								</span>
							</a>
						</li>

						<span class="trennlinie"></span>

						<li>
							<a href="http://www.instantsolar.ch/results_thermal/">
								<h3>Warmwasseraufbereitung mit Sonnenenergie</h3>
								<span>
									Mit der Solarthermie Strom poduzieren Hier kommt ein poduzieren Hier kommtpoduzieren Hier kommt ein kleiner erkl&auml;runpoduzieren Hier kommt ein kleiner erkl&auml;run ein kleiner erkl&auml;runkleiner erkl&auml;rungstext und auch eine kleine Infographic rechts.
								</span>
							</a>
						</li>

					</ul>
				</li>
			</ul>

		</div>

		<div class="grid_3 step3home">{{selected_address}}</div>
		<div class="grid_3 step3homeinfo">
			<ul>
				<li>{{rooftype}}</li>
				<li>{{tilt}}&deg Neigung</li>
				<li>{{orientation}}</li>
				<li>Fl&auml;che {{effective_area_rounded}} m^2</li>
			</ul>
		</div>
		<div class="grid_3 step3electr">
			Wir empfehlen Ihnen Lorem ipsum dolor sit amet. Auf basis das kann man irgendwie editieren.
		</div>

		<div class="clear"></div>

		<!-- Auswahl von den 3 -->

		<div class="grid_4">
			<div class="boxinnen" href="/plant/1">
				<div >
					<span>{{area_small_str}} m&sup2</span>
					{{power_output_small}} kWh
				</div>
				<h3>
					Kleine Version
					<h3>
						<p class="kleinertext">
							Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.
						</span>
						<ul>
							<li>
								Installationskosten
								<span>{{price_small}} Fr.</span>
							</li>
							<li>
								Amortisationszeit
								<span>{{amortization_time_small}} Jahre</span>
							</li>
							<li>
								Profit nach 25 Jahren
								<span>{{profit_25_small}} Fr.</span>
							</li>
							<li>
								CO2 in km Autofahrt
								<span>{{km_driveable_small}} km</span>
							</li>
						</ul>
						<p class="buttonauswaehlen" >Ausw&auml;hlen</p>
					</div>
				</div>
			</a>

			<div class="grid_4">
				<div class="boxinnen ausgewaehlt" href="/plant/2" >
					<div>
						<span>{{area_medium_str}} m&sup2</span>
						{{power_output_medium}} kWh
					</div>
					<h3>
						Mittlere Version
						<h3>
							<p class="kleinertext">
								Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.
							</span>
							<ul>
								<li>
									Installationskosten
									<span>{{price_medium}} Fr.</span>
								</li>
								<li>
									Amortisationszeit
									<span>{{amortization_time_medium}} Jahre</span>
								</li>
								<li>
									Profit nach 25 Jahren
									<span>{{profit_25_medium}} Fr.</span>
								</li>
								<li>
									CO2 in km Autofahrt
									<span>{{km_driveable_medium}} km</span>
								</li>

							</ul>
							<p class="buttonauswaehlen">Ausgew&auml;hlt</p>
						</div>
					</div><!-- -->

					<div class="grid_4">
						<div class="boxinnen" href="/plant/3" >
							<div>
								<span>{{area_large_str}} m&sup2</span>
								{{power_output_large}} kWh
							</div>
							<h3>
								Grosse Version
								<h3>
									<p class="kleinertext">
										Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.
									</span>
									<ul>
										<li>
											Installationskosten
											<span>{{price_large}} Fr.</span>
										</li>
										<li>
											Amortisationszeit
											<span>{{amortization_time_large}} Jahre</span>
										</li>
										<li>
											Profit nach 25 Jahren
											<span>{{profit_25_large}} Fr.</span>
										</li>
										<li>
											CO2 in km Autofahrt
											<span>{{km_driveable_large}} km</span>
										</li>
									</ul>
									<p class="buttonauswaehlen">Ausw&auml;hlen</p>
								</div>
							</div>

							<div class="clear"></div>
						</div>
					</div>

					<div class="container_16 step3content">

						<div class="first">
							<div class="grid_8">
								<h2>Gesch&auml;tzte Kosten und gesch&auml;tzte Einnahmen</h2>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet neque orci. Praesent a leo quis nibh pretium eleifend sed a ipsum. Aenean a mauris ut risus viverra laoreet iaculis at metus. Integer mattis pellentesque mollis. Cras adipiscing libero non sem tempus pretium ultricies dolor cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
								</p>
							</div>
							<div class="grid_7 push_1">
								<div class="grid_2 alpha preistag">
									<span>
										Gesch&auml;tzte
										<br />
										Installationskosten
									</span>
									<p class="erstezahl active" id="selected_price_div" >{{price_medium}} Fr.</p>
								</div>
								<div class="grid_3 preistag">
									<span>
										Subventionen
										<br />
										und Steuerabzug
									</span>
									<p class="zweitezahl">6'000 Fr.</p>
								</div>
								<div class="grid_2 omega preistag">
									<span>
										Stromerspranis
										<br />
										oder KEV
									</span>
									<p class="drittezahl">450 Fr.</p>
								</div>
								<div class="grid_7 alpha">
									<p class="bubble">
										<span>Hier kommt eine todo: dass es springt!</span>
										<br />
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu purus non massa facilisis. Nullam eu purus no.
									</p>
								</div>
								<div class="clear"></div>
							</div>
							<div class="clear"></div>
						</div>

						<div class="second">
							<div class="grid_8">

								<p class="bubble">test</p>
								<br/>
								<p class="progress_bar"></p>
								<span class="zeitanzeige">2012</span>
								<span class="zeitanzeige">3. Jahr</span>
								<span class="zeitanzeige">6. Jahr</span>
								<span class="zeitanzeige last">9.Jahr</span>
							</div>
							<div class="grid_7 push_1">
								<h2>Projekt &uuml;ber die Zeit</h2>
								<p>
									Sehen Sie hier, wie sich die Investionskosten innerhalb einer 
gewissen Zeit sich in einen Profit umwandeln. Navigieren Sie
&uuml;ber den Punkt, um zu sehen, wieviel es kostet.
								</p>
							</div>
							<div class="clear"></div>
						</div>

						<div class="third">
							<div class="grid_16">
								<h2>&Uuml;bersicht &uuml;ber Subventionen</h2>
								<p>
									Sehen Sie hier, wie sich die Investionskosten innerhalb einer  gewissen Zeit sich in einen Profit umwandeln. Navigieren Sie
&uuml;ber den Punkt, um zu sehen, wieviel es kostet. Navigieren Sie &uuml;ber den Punkt, um zu sehen, wieviel.
								</p>
							</div>
							<div class="grid_8">
								<div class="links">
									<ul class="ulleft">
										<h2>Baubewilligung</h2>
										<li></li>
										<li class="alt">
											<p class="pdf">
												<span>10 OKTOBER 2012</span>
											</p>
											Neue Bestimmung Herunterladen
										</li>
									</ul>
								</div>
							</div>
							<div class="grid_7 push_1">
								<div class="rechts">
									<ul class="ulright">
										<h2>Subventionen</h2>
										<li>
											Gemeinde: {{communal_subsidies}}
											<br>Kontakt: {{communal_contact}}, {{communal_link}}</li>

										<li class="alt">Neue Bestimmung Herunterladen {{gemeinde}}</li>
									</ul>
								</div>
							</div>
							<div class="clear"></div>
						</div>

<!-- ARROW BOXES AND TIMELINE -->


						<form action="/compare/" method="post" style="width: 200px;">

							<input type="radio" name="plant_size" value="small">
							Klein
							<br>
							<input type="radio" name="plant_size" value="medium">
							Mittel
							<br>
							<input type="radio" name="plant_size" value="large">
							Gross
							<br>
							{% csrf_token %}
							<input type="submit" value="WEITER zu SCHRITT 3 mit den DATEN" class="wtfbutton" />
						</form>

					</div>

</body>