<!DOCTYPE html>
<html lang="de" style="height:auto;">
<head>
<meta charset="utf-8"/>

<!-- CSS Normilze Stylesheet -->
<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

<!-- CSS GRID Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/960.css"/>

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- JQuery Lightbox Plugin -->
<script src="{{STATIC_URL}}/jquery.lightbox_me.js"/></script>

<!-- JQuery Validate Plugin -->
<script src="{{STATIC_URL}}/jquery.validate.js"/></script>

<!-- Google Analytics Code Snippet -->

<!-- CSS File, and Page Title in the subpages -->
{% block content_header %} {% endblock %}	
</head>
<body>
{% block content %} {% endblock %}	
{% block footer %} {% endblock %}
</body>
</html>
