{% extends "calculator_base.html" %}
{% block calc_02_step4_active%}active{% endblock%}
{% block calc_04_active %}active{% endblock %}

{% block header_inhead %}
<!-- Calculating distances Script -->
<script src="http://maps.google.com/maps?file=api&amp;v=3&amp;sensor=false&amp;key=AIzaSyAZcXhfzbbDh5SayEibA0I2sBa7dvpnR5k" type="text/javascript"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&amp;key=AIzaSyAZcXhfzbbDh5SayEibA0I2sBa7dvpnR5k"></script>
 <script type="text/javascript">
    $(function() {
    var test_Latlng = new google.maps.LatLng(0.0,0.0);
    var my_home_Latlng = new google.maps.LatLng({{home_coordinate_lat}},{{home_coordinate_lng}});
    var my_distance = google.maps.geometry.spherical.computeDistanceBetween (test_Latlng, my_home_Latlng)
    alert(my_distance); 
     });
  </script>
<!-- RATING Script -->
<script type="text/javascript" src="{{STATIC_URL}}/raty_rating_system/lib/jquery.raty.min.js"></script>


 <script type="text/javascript">
    $(function() {
      $.fn.raty.defaults.path = '{{STATIC_URL}}/raty_rating_system/lib/img';

    //for each company the div will have a different name to assign a different number of stars
	{% for company in list_of_companies %}
      $('#star{{company.id}}').raty({ readOnly: true, score: {{company.stars_average}} });
    {% endfor %}
  });

  </script>


<!-- SORTING Script -->
<script type='text/javascript'>
    /*-------- SORTING SCRIPT --------*/

    // variables for the sorting script
    var selected = new Array();
    var zwischensumme = new Array();

    // summing function for the variable
    $.sum = function (arr) {
        var r = 0;
        $.each(arr, function (i, v) {
            r += v;
        });
        return r;
    }

    // jQuery Stuff for sorting script
    $(document).ready(function () {
        $(".s4ListSelect").click(function () {

            $(this).toggleClass("checked");
            // toggle the list

            $("ul.s4ul").hide();

            // find out, what checkboxes are checked and put the VALUE in the selceted variable is checked!
            //input:checkbox[name=sortieren]:checked



            $(".s4_auswahl .checked").each(function () {
                selected.push($(this).attr("data"));
            });

            //alert(selected);
            // $("span").html(selected.join(" "));

            // for each list element 
            $("li.s4list").each(function () {
                // with .length check the arrays length, how many elements and get the attribute with the same name
                for (var i = 0; i < selected.length; i++) {
                    var thisThing = selected[i];
                    zwischensumme.push(parseInt($(this).attr(thisThing)));
                    // $(this).html($.sum(zwischensumme));
                }

                $(this).attr("total", $.sum(zwischensumme));
                // $(this).html($(this).attr("total"));
                //zwischensumme loeschen;
                zwischensumme = [];

            });

            //Liste sortieren nach 
            var li = $('li.s4list');
            li.sort(function (a, b) {
                if (parseInt($(a).attr("total")) < parseInt($(b).attr("total")))
                    return 1;
                else return -1;
            });
            // toggle list

            $("ul.s4ul").fadeIn("slow");

            //the following line kills the the buttons "offerte anfordern", so I commented it out -charles
            //$('ul.s4ul').empty().html(li);

            // Array loeschen
            selected = [];
            // total value loeschen
            $("li").each(function () {
                $(this).attr("total", "");

            });
            // this prevents the screen from jumping back all the time(in terms of scrolling)  
            return false;
        });

        // PROMPT BOX fix of the offer

        $("p.offertenbutton").click(function (e) {
            // es werden die classen rausgelesen aus dem p, und die zweite classe als ID dann gesucht
            var gettheclasses = $(this).attr("class").split(' ');

            $("#" + gettheclasses[1]).lightbox_me({
                    centered: true,
                    onLoad: function () {
                        $(".inner").find('input:first').focus()
                    }
                });

            e.preventDefault();

        });

        // SCHLIESSEN-Button in der Box
        $(".schliessen").click(function (e) {
            $(this).trigger('close');
        });

    });
</script>
{% endblock %}

{% block content %}
	<div class="bigoverview_step4">
		<div class="container_12">
			<div class="grid_12" style="text-align:center,">
			<ul id="dropdownphotovoltaik">
			<h1> F&uuml;r </h1>
				<a href="index.php"><li class="selectdown" style="float:left">Hauptstrasse 18, D&uuml;debndorf
					 <ul>
						<li>
								<h3>F&uuml;r folgende Angaben wurden die Berechnungen gemacht</h3>
								<p class="smalltextindropdown">
								Mit der Sonnenenergie Strom poduzieren Hier kommt eipoduzieren Hier kommt ein kleiner erkl&auml;runpoduzieren Hier kommt ein kleiner erkl&auml;runn kleiner erkl&auml;rungstext und auch eine kleine Infographic rechts.
								</p>
								
						</li>
					</ul>
				</li></a>
				<h2> wurden {{request.session.number_of_companies}} lokale Solaranbieter gefunden. THE MESSAGE IS : {{message}} </h2>	
			</ul>
			<p class="untertitel">
				Bultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen. ultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen.
				<a href="/user/compare#register"><span class="greensmallbutton">Jetzt kostenlos registrieren</span></a>
			</p>
			
			</div>
					
		</div>
	</div>
	
<div class="container_16 step4_boxes">
	<div class="grid_16 waswichtig">
		<h3>Was ist Ihnen wichtig?</h3>
		<ul class="s4_auswahl">
			<a href="#"><li data="a" class="s4ListSelect">Sort by A</li></a>
			<a href="#"><li data="b" class="s4ListSelect ">Sort by B</li></a>
			<a href="#"><li data="c" class="s4ListSelect ">Sort by C</li></a>
			<a href="#"><li data="d" class="s4ListSelect ">Sort by D</li></a>
		</ul>
	</div>
	
		

	<div class="clear"></div>
	
	<p class="linie"> </p>
	
<!-- One BIG List -->
<ul class="s4ul">
	{% for company in list_of_companies %}
	<!-- START BOX -->
	<li class="s4list" a="0" b="10" c="5" d="8" total="">
	<div class="firemoverview">
		<div class="grid_4 eins">
			<h2>{{company.name}}</h2>
			<ul>
				<li class="standort">{{company.gemeinde}}</li>
				<li class="projects">{{company.number_of_successful_projects}} erfolgreiche Projeke</li>
			</ul>
		</div>
		<div class="grid_4 zwei">
			<ul>
				<li>Produkt <span>{{company.reference_product}}({{company.reference_product.country_of_origin}})</span></li>
				<li>Geschätze Anlagekosten <span>{{company.price}}</span></li>
				<li>Geschätze Amortisationszeit <span>{{company.amortization_time}}</span></li>
				<li>Geschätzer Profit nach 25 Jahren <span>{{company.profit_25}}</span></li>
			</ul>
		</div>
		<div class="grid_4 zwei">
			<ul>
				<li>Bewertung <span><div id="star{{company.id}}"></div></span></li>
				<li>Anlagenleistung <span>4 kWh</span></li>
				<li>Anlagenleistung <span>4 kWh</span></li>
				<li>Anlagenleistung <span>4 kWh</span></li>
			</ul>		
		</div>
		<div class="grid_4 vier">
			<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<a href="#"><p class="pinbutton"></p></a>
			<a href="#"><p class="offertenbutton getoffer_1">Offerte einholen</p></a>
		</div>
	</div> <div class="clear"></div>
	</li>
	<!-- END BOX -->
    {% endfor %}


	<!-- >>>> START PROMPT BOX OFFER -->
<div class="box_getoffer" id="getoffer_1">
	<div class="rechts">
		<div class="inner">
			<a href="#"><span class="schliessen">SCHLIESSEN</span></a> <h1>Offerte anfordern:</h1>
			<p>Kleiner Text kommt hier, der das alles ein weing klarer macht </p>
			<form method="post" action="/user/compare/#register" id="offerteabschicken">
            {% csrf_token %}
            <input type="hidden" name="offerte_einholen" value="offerte_einholen">
			<label class="eingabetext"> Name * <input type="text" name="name"  /> </label>
			<label class="eingabetext"> Email * <input type="text" name="email" /> </label>
			<label class="eingabetext"> Kommentar <textarea rows="3" cols="22"> </textarea> </label>
			<input type="submit" class="biggreenbutton button" value="Kostenlose Offerte anfordern" />
			<p class="smalltext"> Hiermit erklaeren Sie sich einverstanden, dass Ihre Seele verkauft wird.</p>
			</form>
		</div>
	</div>	
	<div class="links">
		<div class="inner">
			<h1>Ihr Projekt von lorem ipsum dolor sit amet</h1>
			<p class="projektuebersicht">
			
			Nulla nisl metus, placerat vitae malesuada sed, blandit eget eros. Mauris eleifend facilisis mauris ac ornare. Suspendisse quis nisi tellus. Integer at odio lobortis ante aliquam ullamcorper. Proin eu mauris at ligula eleifend accumsan vitae at lectus. Praesent elementum orci mi. Pellentesque suscipit erat vitae tellus placerat consequat.
			
			<br/>
			Moeglichkeiten: Kleine Rechnung aufstellen vergleichen mit Backend!
			</p>
		</div>
	</div>
</div>

</ul>


	
	<p class="linie"> </p>
	<div class="grid_6 wieweiter">
		<h3> Wie geht es weiter? </h3>
		<p>Lorem ipsum dolor sit amet, conse porttitor. Fuis vulputate sed, mollis sit amet lorem.</p>
	</div>
	<div class="grid_6 wieweiter2">
		<p>Bultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen. ultrices eu consequat dictum, Diese Anbieter sind direkt an Registriern und anbieter vergleichen.</p>
		
	</div>
	
	<div class="grid_4 wieweiter2">
		<a href="/user/compare#register"><p class="biggreenbutton"> Hier der Weiterbutton </p></a>
	</div>

</div>

{% endblock %}
