{% extends "calculator_base.html" %}
{% block calc_02_active %}active{% endblock %}
{% block calc_02_step3_active%}active{% endblock%}

{% comment %}
			TODO: Somehow tell the content  block header_inbody_1, that we are on the startpage, so add
			the active classs to the logo!
{% endcomment %}

{% comment %}
			TODO: Somehow tell the STEP step 
{% endcomment %}

{% block content_header %}

<script type='text/javascript'>
$(document).ready(function() {
alert("document ready");
});

</script>

{% endblock %}

{% block content %}
<div class="bigoverview">
		<div class="container_12">
			<div class="grid_6">
				<h1>Personalisierte &Uuml;berblick f&uuml;r Ihr Haus:</h1>
			</div>
				
			<div class="grid_6">	
				<ul id="dropdownphotovoltaik">
					<li class="selectdown"><a href="#">{{installation_type}}</a>
						<ul>
							<li><a href="http://www.instantsolar.ch/results_photo/">
									<h3>Stromproduktion mit Solarzellen</h3>
									<span>
									Mit der Sonnenenergie Strom poduzieren Hier kommt eipoduzieren Hier kommt ein kleiner erkl&auml;runpoduzieren Hier kommt ein kleiner erkl&auml;runn kleiner erkl&auml;rungstext und auch eine kleine Infographic rechts.
									</span>
									</a>
							</li>
							
							<span class="trennlinie"> </span>
							
							<li><a href="http://www.instantsolar.ch/results_thermal/">
									<h3>Warmwasseraufbereitung mit Sonnenenergie</h3>
									<span>
									Mit der Solarthermie Strom poduzieren Hier kommt ein poduzieren Hier kommtpoduzieren Hier kommt ein kleiner erkl&auml;runpoduzieren Hier kommt ein kleiner erkl&auml;run ein kleiner erkl&auml;runkleiner erkl&auml;rungstext und auch eine kleine Infographic rechts.
									</span>
									</a>
							</li>
							
						</ul>
					</li>
				</ul>
				
			</div>	
			
			<div class="grid_3 step3home">{{selected_address}}</div> 
			<div class="grid_3 step3homeinfo">
				<ul>
					<li>{{rooftype}}</li>
					<li>{{tilt}}&deg Neigung</li>
					<li>{{orientation}}</li>
					<li>Fl&auml;che {{effective_area_rounded}} m^2</li>
				</ul>
			</div>
			<div class="grid_3 step3electr">
				Wir empfehlen Ihnen Lorem ipsum dolor sit amet. Auf basis das kann man irgendwie editieren.
			</div>

			<div class="clear"></div>  

			
			<!-- Auswahl von den 3 -->
<a class="slug" href="slug/2"> Get slug! </a>
			    <div class="grid_4" id="slug1">
				    <div class="boxinnen">
					    <div><span>{{area_small_str}} m&sup2</span> {{power_output_small}} kWh </div>
					    <h3> Kleine Version <h3>
					    <p class="kleinertext">Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.</span>
					    <ul>
						    <li>Installationskosten <span>{{price_small}} Fr.</span></li>
						    <li>Amortisationszeit <span>{{amortization_time_small}} Jahre</span></li>
						    <li>Profit nach 25 Jahren<span>{{profit_25_small}} Fr.</span></li>
                            <li>CO2 in km Autofahrt<span>{{km_driveable_small}} km</span></li>
					    </ul>
					    <p class="buttonauswaehlen"> Ausw&auml;hlen </p>
				    </div>
			    </div>
            </a>

			<div class="grid_4">
				<div class="boxinnen ausgewaehlt">
					<div><span>{{area_medium_str}} m&sup2</span> {{power_output_medium}} kWh </div>
					<h3> Mittlere Version <h3>
					<p class="kleinertext">Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.</span>
					<ul>
						<li>Installationskosten <span>{{price_medium}} Fr.</span></li>
						<li>Amortisationszeit <span>{{amortization_time_medium}} Jahre</span></li>
						<li>Profit nach 25 Jahren <span>{{profit_25_medium}} Fr.</span></li>
                        <li>CO2 in km Autofahrt<span>{{km_driveable_medium}} km</span></li>
					</ul>
					<p class="buttonauswaehlen"> Ausgew&auml;hlt </p>
				</div>
			</div>
			
			<div class="grid_4">
				<div class="boxinnen">
					<div><span>{{area_large_str}} m&sup2</span> {{power_output_large}} kWh </div>
					<h3> Grosse Version <h3>
					<p class="kleinertext">Hier kommt eine kleine Beschreibung hin, was man mit dem Produkt erreichen kann.</span>
					<ul>
						<li>Installationskosten <span>{{price_large}} Fr.</span></li>
						<li>Amortisationszeit <span>{{amortization_time_large}} Jahre</span></li>
						<li>Profit nach 25 Jahren <span>{{profit_25_large}} Fr.</span></li>
						<li>CO2 in km Autofahrt <span>{{km_driveable_large}} km</span></li>
					</ul>
					<p class="buttonauswaehlen"> Ausw&auml;hlen </p>
				</div>
			</div>
			
			<div class="clear"></div> 
		</div>
	</div>


	<div class="container_16 step3content">
	
			<div class="first">
				<div class="grid_8">
					<h2>Gesch&auml;tzte Kosten und gesch&auml;tzte Einnahmen</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sit amet neque orci. Praesent a leo quis nibh pretium eleifend sed a ipsum. Aenean a mauris ut risus viverra laoreet iaculis at metus. Integer mattis pellentesque mollis. Cras adipiscing libero non sem tempus pretium ultricies dolor cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.  </p>
				</div>
				<div class="grid_7 push_1">
					<div class="grid_2 alpha preistag">	<span>Gesch&auml;tzte <br />Installationskosten </span><p class="erstezahl active">19'000 Fr.</p></div>
					<div class="grid_3 preistag">		<span>Subventionen<br />und Steuerabzug</span><p class="zweitezahl">6'000 Fr.</p></div>
					<div class="grid_2 omega preistag">	<span>Stromerspranis<br />oder KEV</span><p class="drittezahl">450 Fr.</p></div>	
					<div class="grid_7 alpha">
						<p class="bubble">
							<span>Hier kommt eine todo: dass es springt!</span><br />
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu purus non massa facilisis. Nullam eu purus no.
						</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>	
			
			<div class="second">
				<div class="grid_8"> 
				
					<p class="bubble"> test </p> <br/>
					<p class="progress_bar"></p>
					<span class="zeitanzeige">2012</span><span class="zeitanzeige">3. Jahr</span><span class="zeitanzeige">6. Jahr</span><span class="zeitanzeige last">9.Jahr</span>
				</div>
				<div class="grid_7 push_1">
					<h2>Projekt ueber die Zeit</h2>
					<p> Sehen Sie hier, wie sich die Investionskosten innerhalb einer 
gewissen Zeit sich in einen Profit umwandeln. Navigieren Sie
&uuml;ber den Punkt, um zu sehen, wieviel es kostet. </p>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="third">
				<div class="grid_16">
					<h2>&Uuml;bersicht &uuml;ber Subventionen</h2>
					<p>
					Sehen Sie hier, wie sich die Investionskosten innerhalb einer  gewissen Zeit sich in einen Profit umwandeln. Navigieren Sie
&uuml;ber den Punkt, um zu sehen, wieviel es kostet. Navigieren Sie &uuml;ber den Punkt, um zu sehen, wieviel.
					</p>
				</div>
				<div class="grid_8">
					<div class="links">
							<ul class="ulleft">
								<h2> Baubewilligung </h2>
								<li>Hier kommt der allgemeine Titel &uuml;ber die Baubewiligung.</li>
								<li class="alt"><p class="pdf"> <span>10 OKTOBER 2012</span></p> Neue Bestimmung Herunterladen</li>
							</ul>
					</div>
				</div>
				<div class="grid_7 push_1"> 
					<div class="rechts">
							<ul class="ulright">
								<h2> Subventionen </h2>
								<li>Hier kommt der allgemeine Titel &uuml;ber die Baubewiligung.</li>
								<li class="alt">Neue Bestimmung Herunterladen</li>
							</ul>
					</div>
				</div>
				<div class="clear"></div>
			</div>


		
        <form action="/compare/" method="post" style="width: 200px;">
        
      	<input type="radio" name="plant_size" value="small">Klein<br>
      	<input type="radio" name="plant_size" value="medium">Mittel<br>
      	<input type="radio" name="plant_size" value="large">Gross<br>
      	
        {% csrf_token %}	
		<input type="submit" value="WEITER zu SCHRITT 3 mit den DATEN" class="wtfbutton" />
		</form>

	</div>
{% endblock %}
