<!DOCTYPE html>
<html lang="en" style="height:auto;">
<head>
<meta charset="utf-8"/>

<!-- CSS Normilze Stylesheet -->
<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

<!-- CSS GRID Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/960.css"/>

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- JQuery Lightbox Plugin -->
<script src="{{STATIC_URL}}/jquery.lightbox_me.js"/></script>

<!-- JQuery Validate Plugin -->
<script src="{{STATIC_URL}}/jquery.validate.js"/></script>

<script type='text/javascript'>


	$(document).ready(function() {
		//AJAX stuff
	    //Deteremines the current URL, eg www.example.com
	    var currentpath = window.location;

	    //Initally, each link turned to red. This is an indicator the jQuery is working correctly.
	    

	    //The following calls a function when a "slug" link is clicked... - *1
        $('.selector_box').click(function(){
            //Stores which slug link was clicked as the variable "object"
            var object = $(this);

            //When clicked the color changes to blue. This was used more when debugging
            //$(this).css("background-color","blue");
            
            //The url for the request is taken from the <a> object
            var url = object.attr("href");

            //The request path is fixed, i.e "www.example.com" + "slug/1/"
            var call_url = currentpath + url;

            //This funtion adds apostrophes to separate the thousands which is otherwise done
            //by django template formatting
            function addApostr(nStr) {
			    nStr += '';
			    var x = nStr.split('.');
			    var x1 = x[0];
			    var x2 = x.length > 1 ? '.' + x[1] : '';
			    var rgx = /(\d+)(\d{3})/;
			    while (rgx.test(x1)) {
			        x1 = x1.replace(rgx, '$1' + '\'' + '$2');
			    }
			    return x1 + x2;
			}

            //In the next step we empty the vlaues in the detail sections
            //and fill them with new values from django's ajax view
 
            $.get(call_url, function(data) {
                $('#selected_power_span').empty();
                $('#selected_power_span').append(addApostr(data.power_output_selected) + " kWh"); 

                $('#selected_area_span').empty();
                $('#selected_area_span').append(data.area_selected + " m<sup>2</sup>");  

				$('#selected_e_percentage_span').empty();
                $('#selected_e_percentage_span').append(addApostr(data.percent_of_electricity_from_plant_selected) + " %");  

				$('#selected_bottoml_cost_span').empty();
                $('#selected_bottoml_cost_span').append(addApostr(data.bottom_line_cost_selected) + " CHF");

                $('#selected_price_span').empty();
                $('#selected_price_span').append(addApostr(data.price_selected) + " CHF"); 

                $('#selected_subsidies_span').empty();
                $('#selected_subsidies_span').append(addApostr(data.subsidies_selected) + " CHF");  

                $('#selected_money_saved_span').empty();
                $('#selected_money_saved_span').append(addApostr(data.money_saved_selected) + " CHF");


				$('#selected_amortization_span').empty();
                $('#selected_amortization_span').append(data.amortization_selected + " Jahre");  

				$('#selected_profit_span').empty();
                $('#selected_profit_span').append(addApostr(data.profit_selected) + " CHF");

                $('#selected_co2_saved_span').empty();
                $('#selected_co2_saved_span').append(data.co2_selected + " Tonnen pro Jahr"); 

                $('#selected_km_drivable_span').empty();
                $('#selected_km_drivable_span').append(addApostr(data.km_driveable_selected) + " km");  

                $('#selected_co2_tree_span').empty();
                $('#selected_co2_tree_span').append(data.co2_tree_equivalent_selected + " B&auml;ume"); 
  
            });

            return false;
        });
	});
</script>



<!-- Popup Login-Function -->
<script type="text/javascript" id="sourcecode">
	$(document).ready(function() {
	 
	        var registerBox=window.location.hash;
	        if (window.location == "http://www.instantsolar.ch/results_thermal/") {
				// show loginbox
				// alert("du bist drin");
				
				
				$(".prompt_box_login").lightbox_me({
					centered: true,
					onLoad: function() {
				$(".inner").find('input:first').focus()
				},
				});	
			}
	});
</script>

	


<!-- Header Version Juli 2013 -->

<link rel="stylesheet" href="{{STATIC_URL}}/step234juli2013/stylestep3.css" type="text/css">


<!-- Step 3 Click between the big selection boxes: change of content and design
	The "Empfohlenes Solarpotential"-Box ist at first load the selected one. 
	the left box has an unique id "boxone"
	and the right box has a unique id "boxtwo"

 -->

<script type='text/javascript'>
// see description above

//on click of boxtwo (right box), if the box has tha class bigboxwhite, change the style of the box by adding the class "bigboxblue" to it and remove the class "bigboxblue" fromt the first box. change also the button (from white to blue) and move the big arrow from the content-area under the box

//id for the buttons: left: buttonboxone and right: buttonboxtwo

	$(document).ready(function() {
		$('#boxtwo').click(function(){
		  // check if box two has the class "bigboxwhite"
		  if ($('#boxtwo').hasClass('bigboxwhite') == true) {
		  	// change the class of boxtwo to bigboxblue
		  	$('#boxtwo').removeClass('bigboxwhite').addClass('bigboxblue');
		  	// change the button-class
		  	$('#buttonboxtwo').removeClass('detailsuntenanzeigen2').addClass('detailsuntenanzeigen1');
		  	// change button text
		  	$('#buttonboxtwo').html('Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" />');

		  	// change the class of box one to bigboxwhite
		  	$('#boxone').removeClass('bigboxblue').addClass('bigboxwhite');
		  	// change button of button one 
		  	$('#buttonboxone').removeClass('detailsuntenanzeigen1').addClass('detailsuntenanzeigen2');
		  	// change text of button one
		  	$('#buttonboxone').html('Details anzeigen');

		  	// move arrow underneath the box two
		  	$('.overviewarrowclass').css({'margin-left':'690px'});	

		  	// check the big-radiobutton (id="step2radiobutton_big") and remove checked from (id="step2radiobutton_med")
		  	$("#step2radiobutton_med").removeAttr("checked");
		  	$("#step2radiobutton_big").attr("checked", "checked");

		  }
		  else {
		  	// do nothing (box two is already selected)
		  	// scroll down to the selection ?



		  };
		});

		// if you click on box one and it is not selected (has the class bigboxwhite)

			$('#boxone').click(function(){
		  // check if box one has the class "bigboxwhite"
		  if ($('#boxone').hasClass('bigboxwhite') == true) {
		  	// change the class of boxone to bigboxblue
		  	$('#boxone').removeClass('bigboxwhite').addClass('bigboxblue');
		  	// change the button-class of button one
		  	$('#buttonboxone').removeClass('detailsuntenanzeigen2').addClass('detailsuntenanzeigen1');
		  	// change button text
		  	$('#buttonboxone').html('Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" />');

		  	// change the class of box two to bigboxwhite
		  	$('#boxtwo').removeClass('bigboxblue').addClass('bigboxwhite');
		  	// change button of button two 
		  	$('#buttonboxtwo').removeClass('detailsuntenanzeigen1').addClass('detailsuntenanzeigen2');
		  	// change text of button two
		  	$('#buttonboxtwo').html('Details anzeigen');

		  	// move arrow underneath the box one
		  	$('.overviewarrowclass').css({'margin-left':'285px'});

		  	// check the middle-radiobutton (id="step2radiobutton_med") and remove checked from (id="step2radiobutton_big")
		  	$("#step2radiobutton_big").removeAttr("checked");
		  	$("#step2radiobutton_med").attr("checked", "checked");

		  }
		  else {
		  	// do nothing (box two is already selected)
		  	// scroll down to the selection ?
		  };
		});

		// scroll down, if click on box one or box two
		$('#boxtwo').click(function(){
			  	// scroll down
		  	$('html, body').animate({
	        	scrollTop: $( "#myAnchor" ).offset().top}, 600);
	    		return false;
	    });

		$('#boxone').click(function(){
			  	// scroll down
		  	$('html, body').animate({
	        	scrollTop: $( "#myAnchor" ).offset().top}, 600);
	    		return false;
	    });

	});

</script>


<!-- QTip CSS + JQuery/File -->
<link type="text/css" rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.css" />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/qtip2/2.1.0/jquery.qtip.min.js"></script>
 <script type='text/javascript'>
$(document).ready(function() {
	$('[data-tooltip!=""]').qtip({ // Grab all elements with a non-blank data-tooltip attr.
	    content: {
	        attr: 'data-tooltip' // Tell qTip2 to look inside this attr for it's content
	    },
	    // position the tooltip
	    position: { my: 'center left', at: 'center right' },
	});
});
 </script>
</head>
<body>

	<div class="container_12" id="headernavtop" >
		
		<div class="grid_3" >
			<img src="{{STATIC_URL}}/step234juli2013/logo.png" class="logo" />
		</div>
		<div class="grid_9">
			
			<!--<a href="#"><img class="loginbutton" src="login.png" /> </a>-->
			<ul>			
					<a href="#"><li>Kontakt</li></a>
					<a href="#"><li>&Uuml;ber uns</li></a>
					<a href="#"><li>Anbieter direkt vergleichen</li></a>
					<a href="#"><li class="active">Solarpotential berechnen</li></a>
			</ul>
		</div>
	</div>
<div class="container_12" id="headerpagenav">
	<div class="grid_12" >

		<a href="#">
			<img class="back" src="{{STATIC_URL}}/step234juli2013/backbutton.png" />
		</a>

		<span>
			<a href="../">Startseite</a>
			/
			<a href="../panel/">Dacheigenschaften eigeneben</a>
			/
			<a href="#" class="active">Potential berechnen</a>
		</span>

		<a href="#">
			<img class="forward" src="{{STATIC_URL}}/step234juli2013/weiterbutton.png" />
		</a>
	</div>
</div>
<div class="container_12" id="overviewbg">
	<div class="grid_12" >
		<h3>SEHEN SIE HIER IHREN PERS&Ouml;NLICHEN &Uuml;BERBLICK</h3>
		<h2>
			Ihr Dach einigt sich sehr gut f&uuml;r eine Photovoltaikanlage. {{message}}
		</h2>
	</div>
		<div class="grid_2 informationbox">
			<p>Energieproduktion</p>
			<p>Deckung Eigenbedarf</p>
			<p>Ersparnis Stromrechnung</p>
			<p>Gespartes CO<sub>2</sub></p>
			<p style="border:none;"></p>
			<p id="myAnchor" style="border:none;"></p>
		</div>
		<div class="grid_4">
			<!-- if the user clicks this box the ajax link /plant/(somenumber) is called andit fills the 
			right data into the details panels -->
			<div id="boxone" class="bigboxblue selector_box" href="/plant/2">
				<h5>Optimale Anlage f&uuml;r Ihr Dach</h5>
					<p class="info"> Eine solche Anlage deckt mindestens Hundert Prozent Ihres Energiebedarfes und ist eine optimale Version bez&uuml;glich Kosten und Nutzen. 
					</p>
					<p class="lines"> <span> {{power_output_medium}} kWH</span>  saubere Energie aus der Schweiz </p>
					<p class="lines"> Deckung von <span> {{percent_of_electricity_from_plant_medium}} % </span>  Ihres Strom-Eigenbedarfes </p>
					<p class="lines"> Einsparung von <span> {{money_saved_medium}} CHF</span> an Stromrechnung </p>
					<p    class="lines"> Reduktion von <span> {{co_2_saved_medium}} Tonnen CO<sub>2</sub></span> Ausstoss </p>
				<br/>
				<p id="buttonboxone" class="detailsuntenanzeigen1">Details werden angezeigt <img src="{{STATIC_URL}}/step234juli2013/arrowdown.png" /></p>
				<br />
			</div>
		</div>
		<div class="grid_1"> &nbsp;</div>
		<div class="grid_4">
			<div id="boxtwo" class="bigboxwhite selector_box" href="/plant/3">
				<h5>Gr&ouml;sstm&ouml;gliche Anlage f&uuml;r Ihr Dach </h5>
					<p class="info"> Eine solche Anlage nutzt Ihr Dach maximal aus und produziert somit die f&uuml;r Ihre Dachfl&auml;che gr&ouml;sstm&ouml;gliche Energie</p>
					<p class="lines"> <span> {{power_output_large}} kWH</span>  saubere Energie aus der Schweiz </p>
					<p class="lines"> Deckung von <span> {{percent_of_electricity_from_plant_large}} % </span>  Ihres Strom-Eigenbedarfes </p>
					<p class="lines"> Einsparung von <span> {{money_saved_large}} CHF</span> an Stromrechnung </p>
					<p class="lines"> Reduktion von <span> {{co_2_saved_large}} Tonnen CO<sub>2</sub></span> Ausstoss </p>
				<br />
								<p id="buttonboxtwo" class="detailsuntenanzeigen2">Details anzeigen </p>
				<br />

			</div>
		</div>
		<div class="grid_1"></div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br></div>
<div class="container_12" id="overviewbgbottom">
	<div class="grid_12" >
		<div class="grid_12" >
			<p class="overviewarrowclass" /> &nbsp;</p>
		</div>
	</div>
</div>
<div class="container_12">
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview1.png" />
		<h4>Was Sie erwarten k&ouml;nnen</h4>
		<h2>Energieproduktion

		</h2>

		<p class="overviewtext">
			Je nach Anlage k&ouml;nnen Sie den gesamten Strombedarf Ihres Haushaltes selber produzieren. Wenn der Strom gerade, nicht gebraucht wird, wird er an das lokale Netz verkauft. So tragen Sie zur Energiewende in der Schweiz bei.
		</p>

		<a href="#"><p style="position:absolute; margin-left:290px; margin-top:20px;"><img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" data-tooltip="Etwa diese Menge an Strom produziert die Anlage w&auml;rend einem Jahr. Zum Vergleich: Eine Gl&uuml;hbirne verbraucht etwa 40 kWh pro Jahr" /></p></a>
		<p class="littlebox">
			Anlageleistung
			
			<span id="selected_power_span">{{power_output_medium}} kWh </span>
				<!--<a href="#" data-tooltip="Etwa diese Menge an Strom produziert die Anlage w&auml;rend einem Jahr. Zum Vergleich: Eine Gl&uuml;hbirne verbraucht etwa 40 kWh pro Jahr">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>-->

			</span>

		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			Gr&ouml;sse Ihrer Anlage
			
			<span class="frage">

				<a href="#" data-tooltip="Circa viele Quadratmeter des Daches w&uuml;rden von dieser Anlage bedeckt sein.">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_area_span">{{area_medium}} m<sup>2</sup></span>
		</p>
		<p class="littleboxunderline">
			Deckung Ihres Strombedarfes
			<span class="frage">
				<a href="#" data-tooltip="In etwa so viel Ihres j&auml;hrlichen Strombedarfes w&uuml;rde die von der Solaranlage generierte strom decken. Diese Sch&auml;tzung beruht auf der Anzahl Personen in Ihrem Haushalt, welche Sie angegeben haben. Allerdings wird der Strom zu Zeiten an denen Sie wenig oder keine Energie verbauchen ins Netz eingespiesen. Wenn Sie hingegen mehr verbrauchen als Ihre Anlage liefert, beziehen Sie zus&auml;tzlichen Strom aus dem Stromnetz">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_e_percentage_span">{{percent_of_electricity_from_plant_medium}}%</span>
		</p>

	</div>
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview2.png" />
		<h4>Was Sie erwarten k&ouml;nnen</h4>
		<h2>Finanziell</h2>

		<p class="overviewtext">
			Je nach Gemeinde sind die Subventionen f&uuml;r Photovoltaikanlagenunterschiedlich hoch. In der Regel gewinnen Sie aber Ihre Investition w&auml;rend der Lebensdauer Ihrer Anlage(mindestens 25 Jahre) durch die Reduktion Ihrer Stromrechnungen zur&uuml;ck. 
		</p>

		<a href="#"><p style="position:absolute; margin-left:290px; margin-top:20px;"><img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" data-tooltip="Das sind die gesch&auml;tzen Kosten anch Abzug aller Subventionen, welche man f&uuml;r die Anlage w&auml;rend seiner Lebensdauer erh&auml;hlt. Dieses kann entweder aus einer einmaligen Beitragszahlungen oder aus einer Einspeiseverg&uuml;tung bestehen, welche w&auml;hrend der gesamten Lebensdauer der Anlage ausbezahlt wird." /></p></a>
		<p class="littlebox">
			Kosten Nach Subventionen
			
			<span id= "selected_bottoml_cost_span"> {{bottom_line_cost_medium}} CHF </span>
		
		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			Installationskosten
			<span class="frage">
				<a href="#" data-tooltip="Dies entspricht etwa dem Betrag mit dem Sie rechnen m&uuml;ssen bei der Anschaffung eine Photovoltaik Anlaga inklusive Material, Installation und Verkabelung. Allerdings kann der Betrag den Sie tats&auml;chlich bezahlen m&uuml;ssen um einiges geringer ausfallen: Je nach Gemeinde und Netzbetreiber winken stattliche Subventionsbeitr&auml;ge für Solaranlagen!">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_price_span">{{price_medium}} CHF</span>
		</p>
		<p class="littleboxunderline">
			Subventionen <br> in 25 Jahren
			<span class="frage">
				<a href="#" data-tooltip="Je nach Gemeinde werden bei der Installation einer Photovoltaikanlage mehere Tausende von Franken an Subventionen an den Bauherren ausbezahlt. Zudem bezahlen einige Netzbetreiber Einspeiseverg&uuml;tungen welceh deutlich &uuml;ber dem Marktpreis f&uuml;r Strom liegen und somit auch eine Subvention darstellen.">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_subsidies_span">{{subsidy_amount_medium}} CHF</span>
		</p>
		<p class="littleboxunderline">
			Einsparungen pro Monat
			<span class="frage">
				<a href="#" data-tooltip="Dadurch, dass Sie eine Photovoltaikanlage auf Ihrem Dach installieren, sinkt Ihre Stromrechnung beachtlich. Je nach Gemeinde, wird der Strom den Ihre Anlage ins Netz speist mit mehr oder weniger Rappen pro kWh vergütet. In einigen Gemeinden betr&uuml;gt die Einspeiseverg&uuml;tung bis zum dreifachen des normalen Marktpreises des Stroms. Zudem bietet der Bund die sogenannte kostendeckende Einspeiseverg&uuml;tung(KEV) an, welche jedoch aus einem Fond gespeist wird, der f&uuml;r die n&auml;chsten paar Jahre ausgesch&ouml;pft ist.">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_money_saved_span"> {{money_saved_medium}} CHF</span>
		</p>
		<p class="littleboxunderline">
			Amortiastionszeit
			<span class="frage">
				<a href="#" data-tooltip="Nach einer gewissen Zeit ist die Photovoltaikanlage amortisiert, das heisst, dass Sie mehr Geld mit Ihr verdient oder gespart haben, als sie urspr&uuml;glich gkostet hat. Dies tritt ge&ouml;nlich noch vor dem Ablauf der Lebensdauer einer Anlage ein. Somit ist eine Photovoltaikanlage nicht nur klimatechnisch gewinnbringend!">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_amortization_span">{{amortization_time_medium}} Jahre</span>
		</p>
		<p class="littleboxunderline">
			Profit nach 25 Jahren
			<span class="frage">
				<a href="#" data-tooltip="Nachdem eine Solaranlage amortisiert ist, kann sie noch viele Jahre weiter Strom produzieren und so f&uuml;r den Besitzer einen Profit erwirtschaften.">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_profit_span">{{profit_25_medium}} CHF</span>
		</p>

	</div>
	<div class="grid_4 overviewclass" >
		<img src="{{STATIC_URL}}/step234juli2013/overview3.png" />
		<h4>Was Sie erwarten k&ouml;nnen </h4>
		<h2>Umwelt</h2>

		<p class="overviewtext">
			<!-- according to the document SWIS_Photovoltaik_2007_d to be found on google drive-->
			Solarzellen schonen die Umwelt, da Sie keine schädliches CO<sub>2</sub>.
			Haben Sie gewusst? Die sogenannte "graue Energie" welche zur Herstellung einer Solaranlage ben&ouml;tigt wird produziert die eine Solaranlage innerhalb von drei Jahren!
		</p>
	
		<a href="#"><p style="position:absolute; margin-left:290px; margin-top:20px;"><img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" data-tooltip="Durch das, dass die Solaranlage Strom produziert, k&ouml;nnen andere, f&uuml;r unsere Umwelt sch&auml;dliche Kraftwerkstypen vermieden werden. Gasturbienen, welche in der Schweiz nach dem Atomausstieg gebaut werden m&uuml;ssen, stossen grosse Mengen an CO<sub>2</sub> aus und tragen so zur Erderw&auml;rmung bei. Durch die Installation einer Anlage der ausgew&auml;hlten Gr&ouml;sse kann CO<sub>2</sub> in diesem Umfang vermieden werden." /></p></a>
		<p class="littlebox">
			CO<sub>2</sub> Einsparung

			<span id= "selected_co2_saved_span">{{co_2_saved_medium}} Tonnen pro Jahr </span>


			<!--<a href="#"><span class="question" ><img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" /></span></a>-->
		</p>
		<p class="littleboxdetails">Details:</p>
		<p class="littleboxunderline">
			in Distanz Autofahrt 
			<span class="frage">
				<a href="#" data-tooltip="Autos stossen ebenfalls CO<sub>2</sub> aus. Durch den Kauf einer Photovoltaikanlage der ausgew&auml;hlten Gr&ouml;sse kompensieren Sie so viele kilometer Autofahrt.">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a>
			</span>
			<span id= "selected_km_drivable_span">{{km_driveable_medium}} km</span>
		</p>
		<p class="littleboxunderline">
			in B&auml;umen <br>(CO<sub>2</sub> Absorption) 
			<span class="frage">				
				<a href="#" data-tooltip="Unsere B&auml;ume vearbeiten CO<sub>2</sub> zu Sauerstoff und helfen so dem Klima im Gleichgewicht zu bleiben. Um den gleichen Effekt auf Ihren CO<sub>2</sub> Ausstoss zu haben, wie der Bau der CO<sub>2</sub> Solaranlage m&uuml;ssten Sie so viele B&auml;me pflanzen:">
					<img src="{{STATIC_URL}}/step234juli2013/fragezeichen.png" />
				</a></span>
			<span id= "selected_co2_tree_span">{{co2_tree_equivalent_medium}} B&auml;ume</span>
		</p>

	</div>


<!-- ARROW BOXES AND GREEN TIMELINE -->

		<div class="clear"></div>

		<!--
		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>STANDORT W&Auml;HLEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>INSTALLATEUR FINDEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox">
			<div class="arrow_box">
					<h2>BAUBEWILLIGUNG EINHOLEN</h2>
					<p>Lorem ipsum dolor sit amet </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox">
			<div class="arrow_box">
					<h2>INSTALLATION <br/></h2>
					<p>Lorem ipsum dolor sit amet sit amet sit ametsit amet ipsum dolor sit amet sit amet sit ametsit amet</p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox">
			<div class="arrow_box">
					<h2>NETZANSCHLUSS</h2>
					<p>Lorem ipsum dolor sit amet sit amet sit amet dolor sit amet sit amet sit amet</p>
			</div>
		</div>
		

		<div class="grid_12 greentimeline">
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_2 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		<div class="grid_3 step3projectdurationbox_unten">
			<div class="arrow_box_2">
					
					<p>1 Jahr </p>
			</div>
		</div>

		-->

	<div class="grid_12 weiterstep3">

			<div>
				<h4>IM N&Auml;CHSTEN SCHRITT K&Ouml;NNEN SIE SOLARANBIETER VERGLEICHEN</h4>
				<h2>Finden sie einen lokalen Solaranbieter </h2>
			</div>

		
		
	<form action="/compare/" method="post">

							<input id="step2radiobutton_med" type="radio" name="plant_size" value="medium" style="margin-top:-9999px; position: absolute;" checked>
					
							<input id="step2radiobutton_big" type="radio" style="margin-top:-9999px; position: absolute;" name="plant_size" value="large">
						
							{% csrf_token %}
					

			<a href="#"><input type="submit" value="weiter" class="button" ></a>
</form>
	

						
	</div>
</div>



				

</body>