{% extends "hebron_base.html" %}

{% block content %}
		
		
<!--	Project Listings Overview	-->
		<div class="grid_5">
			
			<a href="#">
			<div class="listofferoverview">
				<p class="rednew">NEU</p><p class="title">Photovoltaik, 5kWh</p>
				
				<p class="clearfix"></p>
				<p class="rightinfo">Offen</p>
				<p class="subline">Lorem ipsum dolor sit amet <br /><span class="blue">5.01.2012</span><span class="green">Kurzofferte</span></p>
			</div>
			</a>
			
			<a href="#">
			<div class="listofferoverview">
				<p class="rednew">NEU</p><p class="title">Photovoltaik, 5kWh</p>
				
				<p class="clearfix"></p>
				<p class="rightinfo">Offen</p>
				<p class="subline">Lorem ipsum dolor sit amet <br /><span class="blue">5.01.2012</span><span class="green">Kurzofferte</span></p>
			</div>
			</a>
			
			<a href="#">
			<div class="listofferoverview">
				<p class="rednew">NEU</p><p class="title">Photovoltaik, 5kWh</p>
				
				<p class="clearfix"></p>
				<p class="rightinfo">Offen</p>
				<p class="subline">Lorem ipsum dolor sit amet <br /><span class="blue">5.01.2012</span><span class="green">Kurzofferte</span></p>
			</div>
			</a>
			
		</div>
		
		
<!--	Project Overview	-->
		<div class="grid_7" id="infRight_Projectoverview">
			<div class="container">
				<h2>5kWh, Photovoltaik, 
				
				<span class="grey">8600 D&uuml;bendorf</span>
			
				<span class="question" original-title="Es handelt sich um eine Kurzofferte, die am 5. Januar gestellt wurde">?</span>
				<span class="green">Kurzofferte</span>
				<span class="blue">5.01.2013</span>
				</h2>
				<p>
				
					<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.ch/maps?f=q&amp;source=s_q&amp;hl=de&amp;geocode=&amp;q=hauptstrasse+d%C3%BCbendorf&amp;aq=&amp;sll=47.41181,8.696093&amp;sspn=0.009714,0.022724&amp;t=k&amp;g=hauptstrasse+d%C3%BCbendorf&amp;ie=UTF8&amp;hq=&amp;hnear=Hauptstrasse,+8307+Illnau-Effretikon,+Z%C3%BCrich&amp;ll=47.411728,8.695952&amp;spn=0.000635,0.000268&amp;z=19&amp;output=embed&iwloc=near"></iframe><br />
				
				</p>
				
				
				<div class="grid_4 alpha"> 
					
					<div class="whatforcostumer">
						<span class="smalltitle">Kundenprofil:</span> <br />
						
					Wichtig f&uuml;r den Kunden sind:
						<ul>
							<li>Test</li>
						</ul>
						
					Informationsstand des Kunden: Test<br />
					Weitere Infos: Test <br/>
					
						<span class="smalltitle">Hausprofil:</span> 
						<ul>	
							<li>Standort (PLZ)</li>
							<li>Neubau? (-Ger&uuml;st) Wann?</li>
							
							<li>Dachtyp</li>
							<li>Dachziegelart</li>
							<li>Dachfl&auml;che (max, gew&uuml;nschte Bedeckung)</li>
							<li>Ausrichtung</li>
							<li>Gesch&auml;tzter Neigungswinkel</li>
							<li>Wichtig: Kunde legt Wert auf Qualit&auml;t</li>
						</ul>
					</div>
				
				</div>
				
				<div class="grid_3 omega marginneg">
				
					<div class="whatanlage">
						<span class="smalltitle">Projektvorstellungen:</span> <br />

					<ul>
						<li>Photovoltaik</li>
						<li>~5kWh Leistung</li>
						<li>Wichtig: Kunde legt Wert auf Qualit&auml;t</li>
						<li>Gesch&auml;tzter Realiationstermin</li>
					</ul>
					</div>
				
				 </div>
				<div class="clear"></div>
				
				
				
				<h3>Automatisch erstellte Kurofferte</h3>
				<p>
					<!-- Form fuer den Anlagenwunsch -->
					<form class="bigFormHebron">


						<label class="n1">Gesch&auml;tzte Anlageleistung 
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">kWh</span>
						<input type="text" value="5" /> 
						</label>	

						<label class="n1">Gesch&auml;tzte Dafl&auml;chenbedeckung 
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">m&sup2;</span>
						<input type="text" value="5 x 5" /> 
						</label>	
						
						<div class="n3">Vorgeschlagene Module<a href="#"><span class="question" original-title="Test lorem">?</span></a>  
						<span class="valueflright">kWh</span>
							<div class="smallcontainer">
								<select>
								  <option value="Sharm">Sharp</option>
								  <option value="Nick Loehr Module">Niko Loehr Module</option>
								  <option value="Sony">Sony</option>
								  <option value="Chinese">Style</option>
								</select>
							</div>
						</div>		
												
						<label class="n1">Modulpreise total 
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">Fr</span>
						<input type="text" value="23000" /> 
						</label>

						<label class="n1">Montagekosten: Ger&uuml;st
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">Fr</span>
						<input type="text" value="23000" /> 
						</label>

						<label class="n1">Wechselrichter
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">Fr</span>
						<input type="text" value="23000" /> 
						</label>

						<div class="n2">Checkbox Auswahl <a href="#"><span class="question" original-title="Test lorem">?</span></a> 
							<span class="valueflright">Fr</span> 
							<div class="smallcontainer width200">
								<label><input type="checkbox" name="sex" value="male"> Male</label><br />
								<label><input type="checkbox" name="sex" value="female"> Koks</label><br />
								<label><input type="checkbox" name="sex" value="female"> Weitere Auswahl</label><br />
							</div>
						</div>
						
						<label class="n1">Kurofferten Kosten total 
						<a href="#"><span class="question" original-title="Test lorem">?</span> </a>  
						<span class="valueflright">Fr</span>
						<input class="total" type="text" value="23000" /> 
						</label>
						
						<label><span class="valueflright">&#160;
						</span><input class="buttonblue offertsendmodif" type="submit" value="Abschicken" />
						</label>
						
						
						
					</form>
				</p>
				<p class="clearfix"></p>
			</div>	
		</div>
		
		<div class="clear"></div>
{% endblock %}
