<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>getSolar Admin: {% block title %}kein Titel{% endblock %}</title>
	<!--<meta http-equiv="refresh" content="3">-->

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<!-- GRID -->
	<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/960.css" type="text/css" media="screen">
	<!-- Generalstyle -->
	<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/generalstyle.css" type="text/css" media="screen">
	<!-- Normalize -->
	<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/normalize.css" type="text/css" media="screen">	
	<!-- Navigation -->
	<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/menu/core.css" type="text/css" media="screen">
	<!--  -->
	<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/menu/styles/lblue.css" type="text/css" media="screen">
	<!--[if (gt IE 9)|!(IE)]><!-->
		<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/menu/effects/slide.css" type="text/css" media="screen">
	<!--<![endif]-->

	<!-- This piece of code, makes the CSS3 effects available for IE -->
	<!--[if lte IE 9]>
		<script src="{{STATIC_URL}}/hebronstatic/js/jquery-1.7.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="{{STATIC_URL}}/hebronstatic/js/menu.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" charset="utf-8">
			$(function() {
				$("#menu").menu({'effect' : 'slide'});
			});
		</script>
	<![endif]-->
	
	<!-- Tipsy by onehackoranother.com -->
<script type='text/javascript' src='{{STATIC_URL}}/hebronstatic/js/jquery.tipsy.js'></script>
<link rel="stylesheet" href="{{STATIC_URL}}/hebronstatic/css/tipsy.css" type="text/css" />
<script type='text/javascript'>
 $(function() {
	//$('a[rel=tipsy]').tipsy({fade: true, gravity: 'n'});
	// $('.question').tipsy({gravity: 'n'});
	$('.question').tipsy(
		{
			html: true,
			title: function() { return this.getAttribute('original-title'); }, 
			html: true,
			fade: true,
			delayOut: 1000,
			gravity: "w",
			offset: 5,
		}
		);
 });
</script>
{% block header_inhead %} <!-- Optional Header --> {% endblock %}
</head>
<body>
<div id="bgHeader">
	<div class="container_12">
		<div class="grid_12" id="topHebron"> 
			<h1><a href="">getSolar<span>/admin</span></a></h1> 
		</div>
		<div class="grid_12">
		<ul class="menu lblue slide" id="menu">
			
			<li><a href="#">Eins</a>
				<!-- start level 2 -->
				<ul>
					<li><a href="#">Test 1</a></li>
					<li><a href="#">Test 2</a>
						<!-- start level 3 -->
						<ul>
							<li><a href="#">Test</a></li>
							<li><a href="#">lore</a></li>
							<li><a href="#">test</a></li>
						</ul>
						<!-- end level 3 -->
					</li>
					<li><a href="#">Neue<span class="bubble">50</span></a></li>
				</ul>
				<!-- end level 2 -->
			</li> 
			<li><a href="#">Zwei</a>
				<!-- start mega menu -->
				<div class="cols3">
					<div class="col3">
						<h4>Bearbeiten Sie hier Ihre Produkte, die auf getSolar angeboten werden</h4>
					</div>
					<div class="col1">
						<h5>Etwas Verwalten</h5>
						<ol>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ol>
					</div>
					<div class="col1">
						<h5>Produkte &auml;ndern</h5>
						<ol>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
						</ol>
					</div>
					<div class="col1">
						<h5>Paragraph</h5>
						<p>Lorem ipsum dolor etst</p>
					</div>
				</div>
				<!-- end mega menu -->
			</li>
			
			
			<li><a href="#">Neue Offerten<span class="bubble">3</span></a></li>
			
			<li><a href="#">Neue Nachrichten<span class="bubble-alt">4</span></a></li>
			
			
			<li class="floatr"><a href="#">HQEnergie</a>
				<!-- start level 2 -->
				<ul>
					<li><a href="example1.html">Logout</a></li>
					<li><a href="example2.html">Example 2</a></li>
					<li><a href="example3.html">Example 3</a></li>
				</ul>
				<!-- end level 2 -->
			</li>
			
		</ul>
		</div>
	</div>
</div>

<div id="contentBg">
	<div class="container_12">
		
		{% block content %}
		{% endblock %}
	
	<div class="grid_12" id="footerHEBRON">
	Telefonischer Support Ticketservice usw test
	</div>
	
</div>


</body>
</html>