<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>InstantSolar - Solaranbieter in der Schweiz vergleichen</title>

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<!-- GRID -->
	<link rel="stylesheet" href="{{STATIC_URL}}/landingpage/960.css" type="text/css" media="screen">
	<!-- LANDING PAGE CSS -->
	<link rel="stylesheet" href="{{STATIC_URL}}/landingpage/landingcss.css" type="text/css" media="screen">
</head>
<!-- Google Analytics Code Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41062478-1', 'instantsolar.ch');
  ga('send', 'pageview');

</script>

<body style="background-color:#030e18; background-image:url('{{STATIC_URL}}/landingpage/bg_landingpagep2.jpg'); background-repeat:no-repeat; background-position:center top;">
<br/><br/>
<div class="logobg"  >
<div class="container_12" >
<div class="grid_12" style="padding:0px; margin:0px;">
<br/><br/><br/><br/>
<h1 class="logotext"><img src="{{STATIC_URL}}/landingpage/instantsolarlogo.png" /></h1>



</div>

</div>
</div>
<div>
<div class="container_12" >

<div class="grid_12" style="text-align:center;">
	<p class="bigtext" style="color:white; text-align:left; line-height:36px;">
		Sie sind Solaranbieter &ndash; ob Photovoltaik oder Solarthermie &ndash; in der Schweiz und auf der Suche nach neuen Kunden.
	</p>
<br/><br/>
</div>

<div class="grid_6">	

			<p class="subbigtext" style="color:white; text-align:left; line-height:23px">
InstantSolar ist die innovative und neue Plattform aus der Schweiz, die Ihnen zu neuen und qualifizierten Kunden verhilft. <br /> Personen, die sich f&uuml;r eine Solaranlage (Photovoltaik oder Solarthermie) interessieren, informieren sich vorzeitig auf unserer Plattform, indem Sie ihr Dach einzechnen und somit eine Vorstellung &uuml;ber m&ouml;gliche Kosten sowie dem potentiellen Resultat bekommen.
	</p>


</div>
<div class="grid_6">
		<p class="subbigtext" style="color:white; text-align:left; line-height:23px">
Sie, als Anbieter von Photovoltaik oder Solarthermie in der Schweiz, k&ouml;nnen auf bereits erfahrene potentielle Kunden zugreifen, die an der Solarenergie interessiert sind. Ferner erstellen Sie mit InstantSolar Offerten in einem klick, was Ihnen Zeit und Geld spart zur Erstellung solcher Offerten.
		
		
	</p>
</div>
</div>
</div>
<div class="container_12" >


<div class="grid_12" style="text-align:center; padding: 20px 0px; ">
<hr class="landing_sepline" style=" margin: 25px 70px; border-bottom: 1px solid #6085a3;"/>

<form action="/landing_02/" method="post">
<input type="text" value="Ihre Emailadresse" class="landinput_news" onfocus="if(this.value == 'Ihre Emailadresse') { this.value = ''; }" value="Ihre Emailadresse" name= "customer_email_adress" />
{% csrf_token %}	
<input type="submit" name="submit_button" value="Weitere Informationen erhalten" class="landbutton_newsletter" />

</form>

<hr class="landing_sepline" style=" margin: 25px 70px; border-bottom: 1px solid #6085a3;"/>
<br />
	<p class="subbigtext" style="color: white;">
		Sind Sind kein Anbieter und auf der Suche nach einer Photovoltaikanlage oder Soalrthermieanlage?  <a href="http://www.instantsolar.ch/" class="anbieterRED"> Weitere Informationen</a>
	</p>
	

</div>
</div>

</body>
</html>