<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>InstantSolar - Solaranbieter in der Schweiz vergleichen</title>
	<meta http-equiv="refresh" content="3">
	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<!-- GRID -->
	<link rel="stylesheet" href="960.css" type="text/css" media="screen">
	<!-- LANDING PAGE CSS -->
	<link rel="stylesheet" href="landingcss.css" type="text/css" media="screen">
</head>

<body>
<div class="logobg" >
<div class="container_12" >
<div class="grid_7">
<h1 class="logotext">instantSolar</h1>
<p class="subtext">We want to simplify the decision-making process for potential solar power plant owners and at the same time provide an efficient lead-generation and quote system for installers.</p>
<p class="subtext">Our mission is to facilitate the process of solar installation from initial customer interest to a successful bid by the installer.</p>
<input type="text" value="Ihre Emailadresse" class="landinput_news" onfocus="if(this.value == 'Ihre Emailadresse') { this.value = ''; }" value="Ihre Emailadresse" />

<a href="#" class="landbutton_newsletter">Newsletter abonnieren</a>
</div>
<div class="grid_5" style="height:420px; ">

</div>
</div>
</div>

<div class="container_12" >

	<div class="grid_9">
		<p class="subtext"><span class="landpage_anbieter">Solaranbieter hier entlang.</span></p>
	</div>
	<div class="grid_3">	
		<p clasS="subtext footerright">
		&copy; 2013 instantSolar
		</p>
	</div>

</div>
</body>
</html>