<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>InstantSolar - Solaranbieter in der Schweiz vergleichen</title>

	<!-- JQuery -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<!-- GRID -->
	<link rel="stylesheet" href="{{STATIC_URL}}/landingpage/960.css" type="text/css" media="screen">
	<!-- LANDING PAGE CSS -->
	<link rel="stylesheet" href="{{STATIC_URL}}/landingpage/landingcss.css" type="text/css" media="screen">
</head>
<!-- Google Analytics Code Snippet -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41062478-1', 'instantsolar.ch');
  ga('send', 'pageview');

</script>

<body>
<div class="logobg" >
<div class="container_12" >
<div class="grid_6">
<h1 class="logotext">instantSolar</h1>
<p class="subtext">We want to simplify the decision-making process for potential solar power plant owners and at the same time provide an efficient lead-generation and quote system for installers.</p>

<hr class="landing_sepline"/>

<input type="text" value="Ihre Emailadresse" class="landinput_news" onfocus="if(this.value == 'Ihre Emailadresse') { this.value = ''; }" value="Ihre Emailadresse" />

<a href="#" class="landbutton_newsletter">Newsletter</a>

<hr class="landing_sepline"/>
<p class="subtext small">Sind Sie Solaranbieter? Photovoltaik oder Solarthermie? <a href="#">Dann klicken Sie hier!</a></p>

</div>
<div class="grid_6" style="height:410px;  background-repeat:no-repeat; background-position:bottom center; background-image:url('{{STATIC_URL}}/landingpage/screenshot1.jpg');">
	
</div>
</div>
</div>

<div class="container_12" >


<!--
	<div class="grid_12">	
		<p clasS="subtext small footerright ">
		&copy; 2013 instantSolar
		</p>
	</div>
-->
</div>
</body>
</html>