{% extends "telaviv_base.html" %}

{% block content %}

			<div id="content">

				<div id="anbieterrechts" class="scroll-pane">
					<div class="blockoben">
						<div class="wrapperintheblock clearfix">
							<h1>Ertragsprognose f&uuml;r Hauptstrasse 12, D&uuml;bendorf</h1>
							<div class="rechts_infozahl_1"><span>Gesch&auml;tzte Kosten</span><p >23'000CHF</p></div>
							<div class="rechts_infozahl_2"><span>Gesch&auml;tzte Kosten</span><p>23'000CHF</p></div>
							<div class="rechts_infozahl_3 clearfix"><span>Gesch&auml;tzte Kosten</span><p>23'000CHF</p></div>
							<ul class="rechts_liste_links">
								<li>8 Jahre Installationsgarantie</li>
								<li>20 Jahre Herstellergarantie</li>
								<li>T&auml;tigt Baueingabe</li>
							</ul>
							<ul class="rechts_liste_rechts clearfix">
								<li>2.te Liste</li>
								<li>2.liste</li>
							</ul>	
						</div>
					</div>
					<div class="blockanbieter">
						<p class="offertenbutton"><span class="clickshadow">Offerte anfragen</span></p>
						<h1 class="clickshadow"> Nau Solar GmbH</h1>
						<h3>Solar - Die Nachhaltige Energie zum Leben</h3>
						<p>Integer nec luctus metus. Nunc non suscipit orci. Aliquam erat volutpat. Nullam at tempor sapien. Maecenas dictum condimentum nulla, nec faucibus nisi feugiat id. Duis vitae fringilla odio. Etiam est magna, aliquam varius consectetur id. </p>
						<ul>
							<li>Test</li>
							<li>Test2</li>
						</ul>
					</div>
				</div>
				
				<div id="anzeigelinks" class="scroll-pane">
					<h1>Hier sehen sie die &Uuml;bersicht {{message}}</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor enim, ultrices eu consequat dictum, luctus quis felis. Proin diam quam.
aliquet a vulputate quis, auctor ac leo. In lorem nisi, viverra non pretium vitae.</p>

						
	
	                    {% for company in list_of_companies %}
						<div class="boxuebersicht_a">
							<p class="pin">
								
							</p>
							<div class="linke_uebersicht">
									<h2>{{company.name}}</h2> 
									<ul>
										<li class="location">Chur, Graub&uuml; </li>
										<li class="erfolgreicheprojekte"> {{company.number_of_successful_projects}} erfolgreiche Projekte</li>
										<li class="erfolgreicheprojekte"> weitere Informationen</li>
									</ul>
							</div>
							<div class="rechte_uebersicht">
								<ul>
				                    <li>Produkt <span>{{company.reference_product}}({{company.reference_product.country_of_origin}})</span></li>
				                    <li>Geschätze Anlagekosten <span>{{company.price}}</span></li>
				                    <li>Geschätze Amortisationszeit <span>{{company.amortization_time}}</span></li>
				                    <li>Geschätzer Profit nach 25 Jahren <span>{{company.profit_25}}</span></li>
								</ul>
							</div>
							<p class="more_info">
								
							</p>
						</div>
						{% endfor %}

				</div>
				

			</div>

{% endblock %}
