<!DOCTYPE html>
<html lang="en" style="height:100%;">

<head>
<meta charset="utf-8"/>
<title>{% block title %}User Backend{{ comapnynamne }}{% endblock %}</title>

<!-- JQuery -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- JQuery Lightbox Plugin -->
<script src="{{STATIC_URL}}/jquery.lightbox_me.js"/></script>

<!-- JQuery Validate Plugin -->
<script src="{{STATIC_URL}}/jquery.validate.js"/></script>

<!-- JQuery Scroller Plugin -->
<script src="{{STATIC_URL}}/scroller_backend.js"/></script>

<!-- CSS Normilze Stylesheet -->
<link rel="stylesheet" href="{{STATIC_URL}}/normalize.css"/>

<!-- CSS Master Stylesheet -->
<link rel='stylesheet' href="{{STATIC_URL}}/style.css"/>

<!-- Scroller Function -->
<script type="text/javascript" id="sourcecode">
$(function()
{
	$('.scroll-pane').each(
		function()
		{
			$(this).jScrollPane(
				{
					showArrows: $(this).is('.arrow')
				}
			);
			var api = $(this).data('jsp');
			var throttleTimeout;
			$(window).bind(
				'resize',
				function()
				{
					if ($.browser.msie) {
						// IE fires multiple resize events while you are dragging the browser window which
						// causes it to crash if you try to update the scrollpane on every one. So we need
						// to throttle it to fire a maximum of once every 50 milliseconds...
						if (!throttleTimeout) {
							throttleTimeout = setTimeout(
								function()
								{
									api.reinitialise();
									throttleTimeout = null;
								},
								50
							);
						}
					} else {
						api.reinitialise();
					}
				}
			);
		}
	)

});
</script>

<!-- Popup Login-Function -->
<script type="text/javascript" id="sourcecode">
$(document).ready(function() {
 
        var registerBox=window.location.hash;
        if (registerBox == "#register") {
			// show loginbox
			// alert("du bist drin");
			
			
			$(".prompt_box_login").lightbox_me({
				centered: true,
				onLoad: function() {
			$(".inner").find('input:first').focus()
			},
			});	
		}
});
</script>

<script>


$().ready(function() {


	// validate signup form on keyup and submit
	$("#registration_form").validate({
		rules: {

			password_registration: {
				required: true,
				minlength: 5
			},
			password_confirmation: {
				required: true,
				minlength: 5,
				equalTo: "#password_registration"
			},
	
		},
		messages: {

			password_registration: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long"
			},
			password_confirmation: {
				required: "Please provide a password",
				minlength: "Your password must be at least 5 characters long",
				equalTo: "Please enter the same password as above"
			},

		}
	});


});

</script>

{% block header_inhead %} <!-- Optional Header --> {% endblock %}
</head>
<body>

<!-- Register Box -->
<div class="prompt_box_login">
	<a href="#"><span class="schliessen"> SCHLIESSEN </span></a>
	<h2>Registrieren Sie sich jetzt kostenlos</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Suspendisse eget imperdiet dolor. 
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		Suspendisse eget imperdiet dolor.  <span style="color:red">Loginbox im Hintergrund</span>


			<form action={{request.get_full_path}} method="post" id="registration_form">
				{% csrf_token %}
				<label><span>Email:</span></label><input type="text" name="registration_email" id="registration_email" onfocus="if(this.value == 'Ihre Email') { this.value = ''; }" value="Ihre Email"  /> <br class="spacer" />
				<label><span>Passwort:</span></label><input type="password" name="password_registration" id="password_registration"  onfocus="if(this.value == 'Ihr Passwort') { this.value = ''; }" value="Ihr Passwort" /> <br class="spacer" /> 
				<label><span>Passwort:</span></label><input type="password" name="password_confirmation" id="password_confirmation" onfocus="if(this.value == 'Ihr Passwort') { this.value = ''; }" value="Ihr Passwort" /> <br class="spacer" /> 
                <input type="hidden" name="registration" value="registration">
				<label><span> </span> </label><input type="submit" value="Registrieren" name="loginlogour" class="buttoncener"/> 
			</form>
	</p>
</div>

{% block sidebar %}
<div id="sidebar">
	<div class="sidebartop">
		<a href="#">SlrDemo</a>
	</div>
	<div class="projectchooser-in-sidebar">
		<p> <a href="#">Hauptstrasse 12, D&uuml;bendorf <img src="img/sidebar_arrowdown.png" /></a> </p>
	</div>
	<div id="navigationleft">
		<ul>
			<a href="#"><li class="sidebar_uebersicht"> &Uuml;bersicht </li></a>
			<a href="#"><li class="sidebar_entwicklung"> Projektentwicklung </li></a>
			<a href="#"><li class="sidebar_bearbeiten"> Projekt bearbeiten </li></a>
			<a href="#"><li class="sidebar_finden"> Installateure finden </li></a>
			<a href="#"><li class="sidebar_vergleichen"> Installateure vergleichen </li></a>
			<a href="#"><li class="sidebar_offerten"> Offerten <span class="offertenrot">2</span> </li></a>
		</ul>
	</div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
</body>
