{% extends "telaviv_base.html" %}

{% block content %}
<!-- Ajax Script -->
<script type='text/javascript'>
$(document).ready(function() {
    //Deteremines the current URL, eg www.example.com
    var currentpath = window.location;

    //Initally, each link turned to red. This is an indicator the jQuery is working correctly.
    $('.slug').css("color","red");

    //The following calls a function when a "slug" link is clicked... - *1
        $('.slug').click(
                function(){
                        //Stores which slug link was clicked as the variable "object"
                        var object = $(this);
                        
                        //When clicked the color changes to blue. This was used more when debugging
                        $(this).css("color","blue");
                        
                        //The url for the request is taken from the <a> object
                        var url = object.attr("href");
                        
                        //The request path is fixed, i.e "www.example.com" + "slug/1/"
                        var call_url = currentpath + url;
                        /*$.get("/user/compare/slug/1", function(data) {
                            alert(data);
                            });
                       */

                        //Next up is our bread and butter. 
                        //An ajax function is called. If you wanted to save line space, you could convert this to use .get, however I like the clarity of .ajax more. 
                        $.ajax(
                                {
                                //The request type is set to GET, alternatively, it could be POST if we were passing data. 
                                type:"GET",
                                //The url is set to our request path.
                                url: call_url,
                                //Datatype set to "json"
                                dataType: "json",
        
                                //Next, once the request is successful, the following function is called, and a json response is returned and held in the (temp) variable data. 
                                success: function (data)
                                        {   


                                        //The description (data.slug) is added
                                        object.before(data.slug);
                                        	$('#company_name_div').append(data.slug);  
                                        //The "button" is hide
                                        object.hide();
                                        }
                                }); 
                        //trying to insert the data into the html
                        //$("").html(data.slug);


                        //Finally, (and importantly) return false; stops the click from taking us through to the url listed in href. Trying commenting out this line and see what happens.
                        //This is incredibly useful. Browsers with javascript disabled, will still follow through to description page. While, "enchanced" browsers will get the data passed to the page they are on. 
                        return false;
                });
});

</script>

			<div id="content">

				<div id="anbieterrechts" class="scroll-pane">
					<div class="blockoben">
						<div class="wrapperintheblock clearfix">
							<h1>Ertragsprognose f&uuml;r Hauptstrasse 12, D&uuml;bendorf</h1>
							<div class="rechts_infozahl_1"><span>Gesch&auml;tzte Kosten</span><p >23'000CHF</p></div>
							<div class="rechts_infozahl_2"><span>Gesch&auml;tzte Kosten</span><p>23'000CHF</p></div>
							<div class="rechts_infozahl_3 clearfix"><span>Gesch&auml;tzte Kosten</span><p>23'000CHF</p></div>
							<ul class="rechts_liste_links">
								<li>8 Jahre Installationsgarantie</li>
								<li>20 Jahre Herstellergarantie</li>
								<li>T&auml;tigt Baueingabe</li>
							</ul>
							<ul class="rechts_liste_rechts clearfix">
								<li>2.te Liste</li>
								<li>2.liste</li>
							</ul>	
						</div>
					</div>
					<div class="blockanbieter">
						<p class="offertenbutton"><span class="clickshadow">Offerte anfragen</span></p>
						<h1 class="clickshadow"> X</h1>
                        <div class="company_name_div"></div>
						<h3>Solar - Die Nachhaltige Energie zum Leben</h3>
                            <div id="slug"></div>
						<p>Integer nec luctus metus. Nunc non suscipit orci. Aliquam erat volutpat. Nullam at tempor sapien. Maecenas dictum condimentum nulla, nec faucibus nisi feugiat id. Duis vitae fringilla odio. Etiam est magna, aliquam varius consectetur id. </p>
						<ul>
							<li> <strong><a class="slug" href="slug/2"> Get slug! </a></strong>
</li>

							<li>here comes the message: {{message}}</li>
						</ul>
					</div>
				</div>
				
				<div id="anzeigelinks" class="scroll-pane">
					<h1>Hier sehen sie die &Uuml;bersicht </h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dolor enim, ultrices eu consequat dictum, luctus quis felis. Proin diam quam.
aliquet a vulputate quis, auctor ac leo. In lorem nisi, viverra non pretium vitae.</p>

						
	
	                    {% for company in list_of_companies %}
						<div class="boxuebersicht_a">
							<p class="pin">
								
							</p>
							<div class="linke_uebersicht">
									<h2><a class="slug" href="slug/{{company.pk}}">{{company.name}}</a></h2> 
									<ul>
										<li class="location">Chur, Graub&uuml; </li>
										<li class="erfolgreicheprojekte"> {{company.number_of_successful_projects}} erfolgreiche Projekte</li>
										<li class="erfolgreicheprojekte"> weitere Informationen</li>
									</ul>
							</div>
							<div class="rechte_uebersicht">
								<ul>
				                    <li>Produkt <span>{{company.reference_product}}({{company.reference_product.country_of_origin}})</span></li>
				                    <li>Anlagekosten <span>{{company.price}}</span></li>
				                    <li>Amortisationszeit <span>{{company.amortization_time}}</span></li>
				                    <li>Profit nach 25 Jahren <span>{{company.profit_25}}</span></li>
								</ul>
							</div>
							<p class="more_info">
								
							</p>
						</div>
						{% endfor %}

				</div>
				

			</div>

{% endblock %}
