/*
Normalize
*/
html {
	height: 100%;
}

body {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

div#niko {
    width:619px;
    height:65%;
	float:right;

}

input{
		-webkit-appearance: none;
		-moz-appearance: none;
		border: none;
		background: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		padding: 0;
		margin: 0;
		margin-bottom: 0;
}

textarea:focus, input:focus{
    outline: none;
}

/* Design Header */

#startbg {
background-image: url("bg_abstract.png");
background-repeat:repeat-x;
background-color: #e7e7e7;
}

#startbg_sub {
background-image: url("bg_subsite.png");
background-repeat: repeat-x;
background-color: #fff;
/*
background-attachment:fixed;
*/
height:100%;
}


#header_bg_wrapper {
	height: 734px;
	background-image: url("bg_1.png");
	background-position: center top;
	background-repeat:no-repeat;
}

.logotop {
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 12px;
filter: dropshadow(color=#37505f, offx=0, offy=2);
color: #fff;
}

.verschiebenvonoben {
padding-top: 95px;
padding-bottom:15px;
}


.topquestion {
padding-top:100px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
font-style: italic;
font-size: 42px;
color: white;
text-align:center;
text-shadow: 0px 1px 4px #383a37;
background-image: url("line.png");
background-repeat: no-repeat;
background-position: 0px 20px;
}

/* Register + Login FRONTSITE */
ul.loginregisternav {
	list-style-type: none;
	background-image: url(); 	/* Here the background */
	height: 30px;
	 		width:1px;			/* width of the navigation */
	margin: auto;
	background-color: rgba(69, 97, 116, 0.1); 
	-webkit-border-radius: 3px;
border-radius: 3px;
float:right;

	
	}
li.loginregisternav {
float:right;
}

ul.loginregisternav a {
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 12px;
letter-spacing:0pt;
color: #fff;
font-weight:none;
text-decoration: none;
text-shadow: 0px 1px 2px #37505f;
filter: dropshadow(color=#37505f, offx=0, offy=2);
padding-left: 10px;
padding-right: 10px;
display: block;
line-height: 30px;
float:right;
}

a.einloggennav {
	background-color: rgba(69, 97, 116, 0.3); 
	-webkit-border-radius: 3px;
border-radius: 3px;
float:right;
}

a.einloggennav:hover {
	background-color: rgba(69, 97, 116, 0.6); 
	-webkit-border-radius: 3px;
	border-radius: 3px;
	float:right;
}

/* Register + Login SUBSITE */

ul.loginregisternav_sub {
	list-style-type: none;
	background-image: url(); 	/* Here the background */
	height: 30px;
						/* width of the navigation */
	margin: auto;
	/* background-color: red; /* rgba(114, 150, 150, 0.5); */
	-webkit-border-radius: 3px;
border-radius: 3px;
float:right;
	background-color:#cdcdcd;
	}
li.loginregisternav_sub {
float: left;
}

ul.loginregisternav_sub a {
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 12px;
letter-spacing:0pt;
color: #fff;
font-weight:none;
text-decoration: none;
text-shadow: 0px 1px 2px #37505f;
filter: dropshadow(color=#37505f, offx=0, offy=2);
padding-left: 10px;
padding-right: 10px;
display: block;
line-height: 30px;
}

ul.loginregisternav_sub a:hover {
background-color:#001520;
}

a.einloggennav_sub {
	 background-color: rgba(1, 28, 38, 0.5); 
	-webkit-border-radius: 3px;
border-radius: 3px;
}



/* Topnavigation FRONTSITE */


ul.topnavigation {
list-style-type: none;
height: 30px;
}


li.topnavigation a {
list-style-type: none;
float: left;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 13px;
letter-spacing:0pt;
color: #fff;
font-weight:normal;
text-decoration: none;
background-color: none;
line-height: 30px;
padding-left: 35px;
margin-left:20px;
padding-right: 20px;
text-shadow: 0px 1px 2px #585858; /* war 37505f */
filter: dropshadow(color=#585858, offx=0, offy=2);
}

li.topnavigation a:hover {

}

li.litopwas a {
background-image: url("nav_what.png");
list-style-type: none;
background-repeat: no-repeat;
background-position: left center;

}

li.litopsolardach a {
background-image: url("nav_sol.png");
background-repeat: no-repeat;
background-position: left center;
}

li.litopvergleich a {
background-image: url("nav_anbieter.png");
background-repeat: no-repeat;
background-position: left center;
padding-right: 0px;
}

/* Startseite Weiss */
li.litopwas_w a {
background-image: url("nav_what_w.png");
list-style-type: none;
background-repeat: no-repeat;
background-position: left center;
margin-left:30px; /* MENUE ZENTRIEREN */

}

li.litopsolardach_w a {
background-image: url("nav_sol_w.png");
background-repeat: no-repeat;
background-position: left center;
}

li.litopvergleich_w a {
background-image: url("nav_anbieter_w.png");
background-repeat: no-repeat;
background-position: left center;
padding-right: 0px;
}


/* Topnavigation SUBSITE */

ul.topnavigation_sub {
list-style-type: none;
height: 30px;
margin: auto;
}


li.topnavigation_sub a {
float: left;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 13px;
letter-spacing:0pt;
color: #5e6b6b;
letter-spacing:0px;
font-weight:normal;
text-decoration: none;
background-color: none;
line-height: 30px;
padding-left: 33px;
padding-right: 20px;
/* text-shadow: 0px 1px 2px #37505f;
filter: dropshadow(color=#37505f, offx=0, offy=2); */
}

li.topnavigation_sub a:hover {
color:#001520;
}



li.litopwas_sub a {
background-image: url("nav_what.png");
background-repeat: no-repeat;
background-position: left center;
margin-left:55px; /* ganze Navigation verschieben */
}

li.litopsolardach_sub a {
background-image: url("nav_sol.png");
background-repeat: no-repeat;
background-position: left center;
}

li.litopvergleich_sub a {
background-image: url("nav_anbieter.png");
background-repeat: no-repeat;
background-position: left center;
padding-right: 0px;
}

/* Big Search Button */

.suchlabel {
background-color: rgba(22, 22, 22, 0.3);

height:80px;
width:500px;
display:block;

border: #cdcdcd solid 1px;

-webkit-box-shadow:  0px 0px 2px 2px rgba(22, 22, 22, 0.5);
box-shadow:  0px 0px 6px 1px rgba(22, 22, 22, 0.5);

background-image:url('arrow_search.png');
background-repeat:no-repeat;
background-position:right center;

margin:auto;
width:560px;
}


.suchtxtinput{
width:30px;

font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 20px;
letter-spacing:0pt;
color: #fff;
font-weight:none;
text-decoration: none;
text-shadow: 0px 2px 3px #37505f;

padding:5px;
padding-top:0px;
height:80px;
width:440px;

padding-left:20px;
padding-bottom:0px;


}

.suchsubmit {
width:80px;
height:80px;


}

/* SUBSITE */
#header_bg_wrapper_subsite {
	height: 100px;
	background-color: #fff;
	width:100%;
	
	/*
	position: fixed;
	margin-top: -132px;
	*/
}

.verschieben_subsite {
	padding-top: 30px;
}

.logotopsubsite {
margin-top:3px;
}

/* STEP 1-4 */
#step1_4_container {
height: 32px;
background-color: #1d8d72;
background-image:url("bg_step1234_green.png");
background-repeat:repeat-x;
width: 100%;
padding-top: 15px;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 13px;
font-weight:bold;
color: #fff;
text-shadow: 0px 1px 1px #383a37;

/*
margin-top:-32px;

	position: fixed;
	*/
}

a.nodecoration {
text-decoration: none;
color: #fff;
}

.stepnumber {
width:20px;
padding:5px;
padding-left:9px;
padding-right:9px;
margin-right: 7px;
background-color: black;
background-color: #1f4b4e;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 13px;
font-weight:bold;
color: #fff;
}

.stepnumber_inactive {
width:20px;
padding:5px;
padding-left:9px;
padding-right:9px;
margin-right: 7px;
background-color: black;
background-color: #147f65;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 13px;
font-weight:bold;
color: #abcbc1;
}

a.step_inactive {
color:#add0c5;
text-shadow: 0px 1px 1px #176251;
}

a.step_inactive:hover {
color: #fff;
}

#contentbereich {


height:100%;

padding-right:10px;
padding-left:10px;
background-color: red;
background-color: #fff;

-webkit-box-shadow:  0px 6px 4px 2px rgba(193, 193, 193, 0.4);        
box-shadow:  0px 6px 4px 2px rgba(193, 193, 193, 0.4);

/*
margin-top: 132px;
*/
}

/* STEP 2 */
#suchresultatfuer {
background-color: #e7f1f4;
width: 970px;
margin-left:-10px;
padding-right: 10px;
padding-top:35px;
padding-bottom:20px;
text-align: center;
margin-bottom:20px;
}

#suchresultatfuer h2 {
color: #011c26;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-weight: normal;
font-size: 18px;
}

.step2_input_strasse {
width: 230px;

background-color: red;

padding: 7px;
margin-left: 7px;
margin-right: 7px;

border-color: #88a1ab;
color: #3c6773;
border-width:1px;	
border-style:solid;
text-align:center;

background-color: rgba(255, 255, 255, 0.8);
-webkit-border-radius: 3px;
    
border-radius: 3px;
}

.step2_dach {

display:block;
height:63px;
width:200px;

background-repeat: no-repeat;
background-position:10px;
color: #3b5d6a;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 0px;
vertical-align:middle;
padding-top:10px;
font-weight:normal;
padding-left:80px;
background-position:top center;

}

input[type="radio"]:checked+label{ 
border-radius: 3px; 
-moz-border-radius: 3px; 
-webkit-border-radius: 3px; 
border: 1px solid #a3a9ac;
background-color:#e4f1f1;
background-position:12px;
padding-left:103px;
font-size:14px;
text-align:left;
 } 

.step2_dach1{
background-image:url("haus1.png");
}

.step2_dach2{
background-image:url("haus2.png");

}

.step2_dach3{
background-image:url("haus3.png");
}

.step2_dach4{
background-image:url("haus4.png");

}

.step2_select {
    padding:3px;
    margin: auto;
	padding-right:27px;
	
	font-size: 20px;
	margin-top:20px;

    -webkit-border-radius:34px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #fff;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	background-image: url("dropdownselect.png");
	background-repeat:no-repeat;
	background-position:right center;
}

.button_step2_weiter {
  color: #ffffff;
  font-size: 17px;
  padding: 8px;
  padding-right:14px;
  padding-left:14px;
  text-decoration: none;
-webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 3px #292929;
  background: #1d8d72;
clear:both;
  

}
.button_step2_weiter:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#1d8d72), to(#145f4d));
  background: -moz-linear-gradient(top, #1d8d72, #145f4d);
  
-webkit-box-shadow: 0px 0px 3px #50c928;
-moz-box-shadow: 0px 0px 3px #50c928;
box-shadow: 0px 0px 3px #50c928;
}


.button_step2_reset {
  color: #ffffff;
  font-size: 17px;
  font-size: 14px;
  padding: 8px;
  padding-right:14px;
  padding-left:14px;
  text-decoration: none;
-webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 1px 1px 3px #292929;
  background: #d76666;
}
.button_step2_reset:hover {
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#d72d20), to(#9f322a));
  background: -moz-linear-gradient(top, #d72d20, #9f322a)
}



/* BUTTON WHITE */

.buttonwhite {
   border: 1px solid #CCCCCC;
   background: #EEEEEE;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
   background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
   background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
   padding: 8px 16px;

   border-radius: 3px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #FFFFFF 0 1px 0;
   color: #333333;
   font-size: 12px;
   font-family: Arial, Helvetica, Serif;
   font-weight: bold;
   text-decoration: none;
   vertical-align: middle;

	-webkit-border-radius: 3px;
	border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   }
.buttonwhite:hover {
   border: 1px solid #CCCCCC;
   text-shadow: #FFFFFF 0 1px 0;
   background: #EEEEEE;
   background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EEEEEE));
   background: -webkit-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -ms-linear-gradient(top, #FFFFFF, #EEEEEE);
   background: -o-linear-gradient(top, #FFFFFF, #EEEEEE);
   background-image: -ms-linear-gradient(top, #FFFFFF 0%, #EEEEEE 100%);
   color: #333333;
   text-decoration: none;
   	-webkit-border-radius: 3px;
	border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   }
.buttonwhite:active {
   text-shadow: #FFFFFF 0 1px 0;
   border: 1px solid #CCCCCC;
   background: #FFFFFF;
   background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#EEEEEE));
   background: -webkit-linear-gradient(top, #EEEEEE, #FFFFFF);
   background: -moz-linear-gradient(top, #EEEEEE, #FFFFFF);
   background: -ms-linear-gradient(top, #EEEEEE, #FFFFFF);
   background: -o-linear-gradient(top, #EEEEEE, #FFFFFF);
   background-image: -ms-linear-gradient(top, #EEEEEE 0%, #FFFFFF 100%);
   color: #333333;
   	-webkit-border-radius: 3px;
	border-radius: 3px;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   }

#step2_wastun_activ {
/* damit der border ueber die ganze flaeche geht muss das margin ueber die padding gehen */
background-color: #f4fdfd;
padding-top: 10px;
margin-left:-20px;
margin-right:-20px;
padding-right:20px;
padding-left:20px;
padding-bottom: 10px;
border-bottom: solid 1px #e4eeee;
/* border-top: solid 1px #e4eeee; */
}
#step2_wastun_activ h3 {
color: #011c26;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 17px;
line-height:27px;
font-weight:normal;
}
 
#step2_wastun_activ p {
color: #3b5d6a;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 14px;
line-height:19px;
font-weight:normal;
padding-top: 10px;
padding-bottom: 10px;
}

#step2_wastun_checked {
/* damit der border ueber die ganze flaeche geht muss das margin ueber die padding gehen */
background-color: #fff;
padding-top: 10px;
margin-left:-20px;
margin-right:-20px;
padding-right:20px;
padding-left:20px;
padding-bottom: 10px;
border-bottom: solid 1px #e4eeee;



}
#step2_wastun_checked h3 {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 17px;
line-height:27px;
font-weight:normal;
}
 
#step2_wastun_checked p {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 14px;
line-height:19px;
font-weight:normal;
padding-top: 10px;
padding-bottom: 10px;

/* nicht anzeigen */
display: none;
}


/* STEP 2 von Charles classes */

.step2_wastun_activ {
/* damit der border ueber die ganze flaeche geht muss das margin ueber die padding gehen */
background-color: #f4fdfd;
padding-top: 10px;
margin-left:-20px;
margin-right:-20px;
padding-right:20px;
padding-left:20px;
padding-bottom: 10px;
border-bottom: solid 1px #e4eeee;
/* border-top: solid 1px #e4eeee; */

background-image: url("arrow_blue_down.png");
background-repeat: no-repeat;
background-position:295px 10px;

}
.step2_wastun_activ h3 {
color: #011c26;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 17px;
line-height:27px;
font-weight:normal;
}
 
.step2_wastun_activ p {
color: #3b5d6a;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 14px;
line-height:19px;
font-weight:normal;
padding-top: 10px;
padding-bottom: 10px;

text-align: center;
}

.step2_wastun_checked {
/* damit der border ueber die ganze flaeche geht muss das margin ueber die padding gehen */
background-color: #fff;
padding-top: 10px;
margin-left:-20px;
margin-right:-20px;
padding-right:20px;
padding-left:20px;
padding-bottom: 10px;
border-bottom: solid 1px #e4eeee;



}
.step2_wastun_checked h3 {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 17px;
line-height:27px;
font-weight:normal;
}
 
.step2_wastun_checked p {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 14px;
line-height:19px;
font-weight:normal;
padding-top: 10px;
padding-bottom: 10px;

/* nicht anzeigen */
display: none;

background-color:red;
}

.step2_wastun_todo{
/* damit der border ueber die ganze flaeche geht muss das margin aeber die padding gehen */
background-color: #fff;
padding-top: 10px;
margin-left:-20px;
margin-right:-20px;
padding-right:20px;
padding-left:20px;
padding-bottom: 10px;
border-bottom: solid 1px #e4eeee;

background-image: url("arrow_gray_left.png");
background-repeat: no-repeat;
background-position:295px 10px;

}
.step2_wastun_todo h3 {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 17px;
line-height:27px;
font-weight:normal;
}
 
.step2_wastun_todo p {
color: #ababab;
font-family: Helvetica, Arial, Sans-Serif;
font-size: 14px;
line-height:19px;
font-weight:normal;
padding-top: 10px;
padding-bottom: 10px;

/* nicht anzeigen */
display: none;
}


/* STEP 3 */

#step3_box1_uebersicht {
background-color #fff;
background-image: url("step3_bg.png");
background-position: bottom;
width: 970px;
margin-left:-10px;
padding-right: 10px;
padding-top:0px;
padding-bottom:20px;
text-align: center;
margin-bottom:20px;
background-repeat:repeat-x;
}

#step3_box1_uebersicht h2 {
color: #011c26;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 900;
font-style: italic;
font-weight: normal;
font-size: 27px;
color: #163b49;
padding-top:40px;
margin-bottom:40px;
}

.s3u{
	background-position: top center;
	background-repeat: no-repeat;
	text-align:left;
	padding-top:40px;

	color: #3b5059;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	line-height: 20px;
}

.s3u1{
background-image: url("s3_uebersicht_1.png");
padding-left:10px;
}

.s3u2{
background-image: url("s3_uebersicht_2.png");
}

.s3u3{
background-image: url("s3_uebersicht_3.png");
}

.s3u4{
background-image: url("s3_uebersicht_4.png");
}

.s3_box2{
/* background-image:url("s3_bg_box2.png"); */
background-position: bottom center;
background-repeat: no-repeat;
background-position: bottom center;



}

.s3_text_n{
padding-bottom:35px;
color: #0f3645;
font-size: 14px;
line-height:20px;
text-align:center;
font-family: Helvetica, Arial, Sans-Serif;
}

.s3_box2 h3 {
color: #163b49;
font-size:22px;
font-family: 'Source Sans Pro', sans-serif;
font-weight: 600;
text-align:center;
padding-top:20px;
padding-bottom:35px;
}

.gruenerbutton {


font-family: 'Source Sans Pro', sans-serif;
text-align:center;
padding-top:2px;
padding-bottom:2px;

padding-right:20px;
padding-left:20px;

color: #ffffff;
font-size: 24px;
text-decoration: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
text-shadow: 0px 2px 1px #0b4f3f;

background: rgb(17,169,131); /* Old browsers */
background: -moz-linear-gradient(top, rgba(17,169,131,1) 0%, rgba(34,173,138,1) 49%, rgba(25,139,111,1) 51%, rgba(25,139,111,1) 100%, rgba(25,139,111,1) 100%, rgba(7,130,100,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(17,169,131,1)), color-stop(49%,rgba(34,173,138,1)), color-stop(51%,rgba(25,139,111,1)), color-stop(100%,rgba(25,139,111,1)), color-stop(100%,rgba(25,139,111,1)), color-stop(100%,rgba(7,130,100,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(17,169,131,1) 0%,rgba(34,173,138,1) 49%,rgba(25,139,111,1) 51%,rgba(25,139,111,1) 100%,rgba(25,139,111,1) 100%,rgba(7,130,100,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(17,169,131,1) 0%,rgba(34,173,138,1) 49%,rgba(25,139,111,1) 51%,rgba(25,139,111,1) 100%,rgba(25,139,111,1) 100%,rgba(7,130,100,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(17,169,131,1) 0%,rgba(34,173,138,1) 49%,rgba(25,139,111,1) 51%,rgba(25,139,111,1) 100%,rgba(25,139,111,1) 100%,rgba(7,130,100,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(17,169,131,1) 0%,rgba(34,173,138,1) 49%,rgba(25,139,111,1) 51%,rgba(25,139,111,1) 100%,rgba(25,139,111,1) 100%,rgba(7,130,100,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11a983', endColorstr='#078264',GradientType=0 ); /* IE6-9 */

  -moz-box-shadow:    inset 0 0 6px #1c2825;
   -webkit-box-shadow: inset 0 0 6px #1c2825;
   box-shadow:         inset 0 0 6px #1c2825;

}

.gruenerbutton:hover {
background-color:red;
}

.kleinertext {
font-size:12px;
}

.blauerbutton {


font-family: 'Source Sans Pro', sans-serif;
text-align:center;
padding-top:2px;
padding-bottom:2px;

padding-right:20px;
padding-left:20px;

color: #ffffff;
font-size: 24px;
text-decoration: none;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
text-shadow: 0px 2px 1px #0b3a63;

background: rgb(0,82,126); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,82,126,1) 1%, rgba(2,93,128,1) 50%, rgba(1,73,112,1) 52%, rgba(0,80,111,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(0,82,126,1)), color-stop(50%,rgba(2,93,128,1)), color-stop(52%,rgba(1,73,112,1)), color-stop(100%,rgba(0,80,111,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,82,126,1) 1%,rgba(2,93,128,1) 50%,rgba(1,73,112,1) 52%,rgba(0,80,111,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,82,126,1) 1%,rgba(2,93,128,1) 50%,rgba(1,73,112,1) 52%,rgba(0,80,111,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,82,126,1) 1%,rgba(2,93,128,1) 50%,rgba(1,73,112,1) 52%,rgba(0,80,111,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,82,126,1) 1%,rgba(2,93,128,1) 50%,rgba(1,73,112,1) 52%,rgba(0,80,111,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00527e', endColorstr='#00506f',GradientType=0 ); /* IE6-9 */


  -moz-box-shadow:    inset 0 0 6px #0b3a63;
   -webkit-box-shadow: inset 0 0 6px #0b3a63;
   box-shadow:         inset 0 0 6px #0b3a63;

}

.grauerbutton {

text-shadow: 0px 2px 1px #717171;

background: rgb(241,241,241); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(241,241,241,1) 0%, rgba(207,207,207,1) 50%, rgba(175,175,175,1) 51%, rgba(156,156,156,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(241,241,241,1)), color-stop(50%,rgba(207,207,207,1)), color-stop(51%,rgba(175,175,175,1)), color-stop(100%,rgba(156,156,156,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(207,207,207,1) 50%,rgba(175,175,175,1) 51%,rgba(156,156,156,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(207,207,207,1) 50%,rgba(175,175,175,1) 51%,rgba(156,156,156,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(241,241,241,1) 0%,rgba(207,207,207,1) 50%,rgba(175,175,175,1) 51%,rgba(156,156,156,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(241,241,241,1) 0%,rgba(207,207,207,1) 50%,rgba(175,175,175,1) 51%,rgba(156,156,156,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f1f1', endColorstr='#9c9c9c',GradientType=0 ); /* IE6-9 */


  -moz-box-shadow:    inset 0 0 6px #a8a8a8;
   -webkit-box-shadow: inset 0 0 6px #a8a8a8;
   box-shadow:         inset 0 0 6px #a8a8a8;
}

.s3_box2_kleinertitel{
color: #163b49;
font-size:16px;
font-family: 'Source Sans Pro', sans-serif;
height: 50px;
padding-bottom:10px;
}

.textgray{
color: #afafaf;
}

.center{
text-align:center;
}

.box2_footer {
background-image: url("s3_bg_box2_alt.png");
background-repeat: no-repeat;
background-position: center bottom;
height:90px;
width:100px;
}

.s3_progressbar {
background-image: url("s3_b3_progress.png");
background-repeat: no-repeat;
height:70px;
}

.s3_progress_left{
color: #ffffff;
font-size:31px;
font-family: 'Source Sans Pro', sans-serif;
text-shadow: 0px 1px 4px #848484;
padding-top:13px;
float:left;
padding-left:15px;
}

.s3_progress_right{
color: #ffffff;
font-size:31px;
font-family: 'Source Sans Pro', sans-serif;
text-shadow: 0px 1px 4px #848484;
padding-top:12px;
float:right;
padding-left:10px;
padding-right:50px;
}

.footerstartseite{
float:right;
text-align:right;
font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 11px;
padding-top:12px;
color:gray;
}

.step3_left {
	display:block;
	width: 160px;
	height: 97px;
	text-align:center;
	margin-left:10px;
	background-image: url("step3_left.png");
	background-repeat: no-repeat;
	color: #232323;
	padding-top:40px;
	font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 11px;
line-height:17px;
float:left;	
}

.step3_middle{
	display:block;
	width: 160px;
	height: 97px;
	text-align:center;
	margin-left:10px;
	background-image: url("step3_middle.png");
	background-repeat: no-repeat;
	color: #232323;
	padding-top:40px;
	font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 11px;
line-height:17px;
float:left;
margin-left:300px;
}

.step3_right{
	display:block;
	width: 160px;
	height: 97px;
	text-align:center;
	margin-left:10px;
	background-image: url("step3_right.png");
	background-repeat: no-repeat;
	color: #232323;
	padding-top:40px;
	font-family: Arial, "Helvetica", Arial, Sens Serif;
font-size: 11px;
line-height:17px;
float:right;
margin-left:100px;
}

#niko {
weight:50%;
height:50%;
float:right;
}
