// WEITERE NORMILZE FUNKTIONEN
*{
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	min-height: 100%;
}

// USERSITE

@blau1: #3b8bc9; 		// Blau
@blau2: #f0f3f5;		// sehr dezentes Blau fuer Navigationslieste links unter dem Projekt, funktioniert gut mit grau2

@grau1: #3b8bc9; 		//	Grau fuer Hintergrund von Navigationsleiste
@grau2: #dde3e4;		// Trennliniengrau fuer Navigationsleiste Blau (blau2)
@grau3: #fafbfc;		// Hitnergrundgrau fuer Projektauswahl
@grau4:	#c7d0d3;		// Runde Boxen, border (fuer beide: weisse und etwas grauliche Background)

@padding-top-bottom-logo: 30px;
@sidebar-width: 270px;
@footer-header-hoehe: 10px;

.helveticafont {
	font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}

body {
margin: @footer-header-hoehe 0px @footer-header-hoehe @sidebar-width+10px;
}


#sidebar {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: @sidebar-width;
	height: 100%;
	background-color:red;
}

.sidebartop {
background-color: @blau1;
width:100%;
font-size:25px;
font-style: italic;
.helveticafont;
text-align:center;
color:#fff;
padding-top:@padding-top-bottom-logo;
padding-bottom:@padding-top-bottom-logo;

	a {
	text-decoration:none;
	color:#fff;
	}
	a:hover {
	text-decoration:none;
	color: red;
	}
}


.smallbox_a {
	background-color: @grau3;
	border-color: @grau4;
	border-style: solid;
	border-width: 1px;
}

.smallbox_b_white_bg {
	background-color: @grau4;
	border-color: @grau4;
	border-style: solid;
	border-width: 1px;
}

