* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  min-height: 100%;
}
.helveticafont {
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
}
.background_sidebar_shadow {
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
}
body {
  margin: 10px 0px 10px 280px;
}
#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 270px;
  height: 100%;
  background-color: #f9f9f9;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
}
.sidebartop {
  background-color: #3b8bc9;
  width: 100%;
  font-size: 25px;
  font-style: italic;
  font-family: "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url("img/sidebar_rightshadow.png");
  background-position: right;
  background-repeat: repeat-y;
}
.sidebartop a {
  text-decoration: none;
  color: #fff;
}
.sidebartop a:hover {
  text-decoration: none;
  color: red;
}
.smallbox_a {
  background-color: #fafbfc;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
}
.smallbox_b_white_bg {
  background-color: #c7d0d3;
  border-color: #c7d0d3;
  border-style: solid;
  border-width: 1px;
}
